extends ../_layouts/docs

block title
  title Email Billing | BitPay

append vars
  -var pageSelected = 'Docs'
  
block information
  h2.header__bottom-border-left Email Billing
  p.lead ███████ ███████ ████ █████████ ███████ ███████ ███████ ███████ ████ █████████ ███████ ███ ███████.
