extends ../_layouts/docs

block title
  title Billing | BitPay

append vars
  -var pageSelected = 'Docs'
  -var subpageSelected = 'Billing'

block information
  h2.header__bottom-border-left Billing
  p.lead BitPay merchants gain access to flexible, rapid bitcoin invoicing for goods and services sold.

  h3 Email Invoices
  p Send bitcoin invoices to your clients via email on a one-time or recurring basis.


  h3 Plug-Ins and Integrations
  p Use our ready-built bitcoin invoicing solutions with your existing billing services or plug-ins.
