extends ../_layouts/docs

block title
  title Donations | BitPay

append vars
  -var pageSelected = 'Docs'
  -var subpageSelected = 'Donations'

block information
  h2.header__bottom-border-left Donations
  p.lead We've taken the complication out of working with a new donation method. Our nonprofit tools enable organizations to accept 100% of contributions from supporters around the globe.

  h3 Donation Buttons
  p BitPay's <a href=https://bitpay.com/dashboard/merchant/create-donate> donation buttons </a> make it simple to accept contributions on your organization's website.

  p Like our payment buttons, donation buttons require no coding skill. We'll take care of the code so you can copy and paste directly to your fundraising page.

  h3 Hosted Donation Pages
  p BitPay can also host a <a href=https://bitpay.com/dashboard/merchant/edit-donation-page?params=donation> donation page </a> for your organization. Pages can be generated and customized in minutes through your merchant dashboard.
