extends ../_layouts/docs

block title
  title Donations | BitPay

append vars
  -var pageSelected = 'Docs'
  
block information
  h2.header__bottom-border-left Donations
  p.lead ███████ ███████ ████ █████████ ███████ ███████ ███████ ███████ ████ █████████ ███████ ███ ███████.
