extends ../_layouts/docs

block title
  title Selling Online | BitPay

append vars
  -var pageSelected = 'Docs'
  -var subpageSelected = 'Selling Online'

block information
  h2.header__bottom-border-left Selling Online
  p.lead Bitcoin was made for online transactions. BitPay provides the simplest way to start accepting fast, secure payments on your web-based store. Begin by <a href=https://bitpay.com/dashboard/signup>signing up</a> for a BitPay account. 

  h3 Payment Buttons
  p <a href=https://bitpay.com/dashboard/merchant/create-checkout?params=>Payment buttons</a> can be generated on the merchant dashboard and embedded anywhere on your website, with no additional setup required.

  h3#plugins Shopping Cart Plug-ins
  p Our platform integrates with 15 of the e-commerce world's favorite shopping cart software solutions. Visit our <a href=https://bitpay.com/integrations>Integrations page</a> and click on the icon of your shopping cart software to get started.

  h3 Integrated Solutions
  p We've built our bitcoin payment gateway directly into 14 e-commerce platforms and payment service providers. All you need to get started is a BitPay account and a pairing code to link it with your current platform or PSP account. See your integration options <a href=https://bitpay.com/integrations>here</a>.
