extends ../_layouts/docs

block title
  title Selling Online | BitPay

append vars
  -var pageSelected = 'Docs'
  -var subpageSelected = 'Selling Online'

block information
  h2.header__bottom-border-left Selling Online
  p.lead Bitcoin was made for online transactions. BitPay provides the simplest way to start accepting fast, secure payments on your web-based store.

  h3 Payment Buttons
  p <a href=https://bitpay.com/dashboard/merchant/create-checkout?params=>Payment buttons </a> can be generated on the merchant dashboard and embedded anywhere on your website, with no additional setup required.

  h3 Shopping Cart Plug-ins
  p Our platform integrates with 33 of the e-commerce world's most popular shopping cart software solutions. Visit our <a href=https://bitpay.com/integrations> Integration Page </a> and click on the icon of your shopping cart software to see how to get started.

  h3 Integrated Solutions
  p We've build our bitcoin checkout software directly into 14 e-commerce platforms and payment service providers.

  p All it takes to start accepting bitcoin with these services is a BitPay merchant account and pairing codes.
