extends ../_layouts/docs

block title
  title Selling Online | BitPay

append vars
  -var pageSelected = 'Docs'
  -var subpageSelected = 'Selling Online'
  
block information
  h2.header__bottom-border-left Selling Online
  p.lead ███████ ███████ ████ █████████ ███████ ███████ ███████ ███████ ████ █████████ ███████ ███ ███████.
