extends ../_layouts/docs

block title
  title Getting Started | BitPay

append vars
  -var pageSelected = 'Docs'
  -var subpageSelected = 'Getting Started'
  
block information
  h2.header__bottom-border-left Getting Started
  p.lead BitPay’s <a href="/integrations">40+ bitcoin integrations</a> make accepting bitcoin payments fast and reliable. To get started, <a href="#">sign up for a BitPay account</a>.
  
  h3 Accepting a Bitcoin Payment
  p With bitcoin, there's no sensitive customer information to collect and store, and there are no cards to charge. Customers simply send bitcoin from their computer or mobile device directly to a bitcoin payment address.

  p Once received, BitPay converts the bitcoin to your preferred currency and adds the full amount of the payment – without fees – to your next BitPay account <a href="/docs/settlement">settlement</a>. Funds are then deposited to your bank account or bitcoin address.
  
  p You can accept bitcoin in a variety of ways. Choose a method below to get started.
  
  h4 Online Payments
  p Bitcoin makes the online payment experience simple and convenient for customers on any device – customers can pay with just two taps, no sensitive personal information needed.

  .padding-left
    h5
      a.arrow-blue(href="#") E-commerce integrations
    p BitPay's integrations make adding bitcoin as a payment method to existing e-commerce solutions as easy as installing a plugin or adding some settings. Find your integration in our <a href="/integrations">full list of integrations</a> for details.

    h5
      a.arrow-blue(href="#") Email Billing
    p ███████ ███████ ████ █████████ ███████ ███████ ███████ ███████ ████ █████████ ███████ ███ ███████.
 
  h4 In-Store Payments
  p ███████ ███████ ████ █████████ ███████ ███████ ███████ ███████ ████ █████████ ███████ ███ ███████.

  .padding-left
    h5
      a.arrow-blue(href="#") Point-of-Sale Integrations
    p ███████ ███████ ████ █████████ ███████ ███████ ███████ ███████ ████ █████████ ███████ ███ ███████.

    h5
      a.arrow-blue(href="#") Bitcoin Checkout App
    p ███████ ███████ ████ █████████ ███████ ███████ ███████ ███████ ████ █████████ ███████ ███ ███████.

  h4 Mobile App Payments
  p ███████ ███████ ████ █████████ ███████ ███████ ███████ ███████ ████ █████████ ███████ ███ ███████.
