extends ../_layouts/docs

block title
  title Selling In Store | BitPay

append vars
  -var pageSelected = 'Docs'
  -var subpageSelected = 'Selling in Person'
  
block information
  h2.header__bottom-border-left Selling In Store
  p.lead ███████ ███████ ████ █████████ ███████ ███████ ███████ ███████ ████ █████████ ███████ ███ ███████.
