extends ../_layouts/docs

block title
  title Selling In Store | BitPay

append vars
  -var pageSelected = 'Docs'
  -var subpageSelected = 'Selling in Person'

block information
  h2.header__bottom-border-left Selling In Store
  p.lead BitPay provides brick and mortar merchants with a full array of options for accepting bitcoin payments, from direct point of sale integrations to web and mobile-based apps.

  h3 Bitcoin Checkout
  p Bitcoin Checkout is a simple mobile tool for merchants and their staff to accept bitcoin – all with no additional setup.

  p The app can be downloaded for iOS and Android devices and customized for tipping, order number tracking, and multiple users.

  h5 Web Checkout
  p No app? No problem. Our web-based Quick Checkout can be accessed from a web browser on any computer or connected device.

  h3 Direct Point of Sale Integrations
  p Get access to BitPay's bitcoin payment processing on full-fledged traditional and tablet-based point of sale systems. 
