extends ../_layouts/docs

block title
  title Selling In Store | BitPay

append vars
  -var pageSelected = 'Docs'
  -var subpageSelected = 'Selling in Person'

block information
  h2.header__bottom-border-left Selling In Store
  p.lead BitPay provides brick and mortar merchants with a full array of options for accepting bitcoin payments, from direct point of sale integrations to web and mobile-based apps.

  h3 Bitcoin Checkout
  p Bitcoin Checkout is a simple mobile tool for merchants and their staff to accept bitcoin – all with no additional setup.

  p The app can be downloaded for <a href=https://itunes.apple.com/us/app/bitcoin-checkout/id929652207?mt=8> iOS </a> and <a href=https://play.google.com/store/apps/details?id=com.bitpay.checkout&hl=en> Android </a> devices and customized for tipping, order number tracking, and use among multiple staff members.

  p To accept a payment, simply enter an amount, an order number and gratuity amount (if enabled), and allow your customer to scan the QR code the app generates.

  h5 Web Checkout
  p No app? No problem. Our web-based Quick Checkout does just about everything Bitcoin Checkout does from any web browser on any computer or other device.

  h3 Direct Point of Sale Integrations
  p Get access to BitPay's bitcoin payment processing on full-fledged traditional and tablet-based point of sale systems. Check out all of our direct POS integration options on our <a href=https://bitpay.com/integrations> Integrations </a> page.
