extends ../_layouts/docs

block title
  title Selling In Store | BitPay Documentation

append vars
  -var pageSelected = 'Docs'
  -var subpageSelected = 'Selling in Person'

block information
  h2.header__bottom-border-left Selling In Store
  p.lead BitPay provides brick and mortar merchants with a full array of options for accepting bitcoin payments, from direct point-of-sale integrations to web and mobile-based apps. Get started by <a href="/dashboard/signup">signing up</a> for a BitPay account.

  h3#checkout Bitcoin Checkout
  img(src="/images/bitcoin-checkout.png" alt="Bitcoin Checkout")
  p.text-center
    a(href="https://itunes.apple.com/us/app/bitcoin-checkout/id929652207?mt=8")
      img(src="/images/app-store.svg" alt="Bitcoin Checkout for iOS").margin-right-less
    a(href="https://play.google.com/store/apps/details?id=com.bitpay.checkout&hl=en")
      img(src="/images/google-play.png" alt="Bitcoin Checkout for Android")
  p.lead Bitcoin Checkout is a simple mobile tool for merchants and their staff to accept bitcoin – all with no additional setup.

  p The app can be downloaded for <a href="https://itunes.apple.com/us/app/bitcoin-checkout/id929652207?mt=8">iOS</a> and <a href="https://play.google.com/store/apps/details?id=com.bitpay.checkout&hl=en">Android</a> devices and customized for tipping, order number tracking, and use among multiple staff members.

  p To accept a payment, simply enter an amount, an order number and gratuity amount (if enabled), and allow your customer to scan the QR code the app generates.

  h4#web Quick Checkout for Web
  p No app? No problem. Our web-based <a href="/dashboard/merchant/edit-mobile-checkout">Quick Checkout</a> does just about everything Bitcoin Checkout does from any web browser on any computer or other device.

  h4#accepting Checking Out With Bitcoin in a Restaurant or Retail Store
  p To record bitcoin transactions with your current point of sale (POS) system at checkout, add "bitcoin" as a new payment option or tender method in your POS management software. Some restaurants and retailers categorize bitcoin as an authorization-free credit payment type or create a special house account for bitcoin payments.
  p Enter order, tipping, and transaction total information in your point of sale system as you would for any traditional cash or credit card transaction. When you a customer is ready to check out or pay his bill, collect payment with Bitcoin Checkout or Quick Checkout for Web. 
  p #[strong Note:] if you have issues or specific needs in adding a bitcoin tender method to your point of sale system, you may need to reach out to your POS account manager to determine the best way to record bitcoin transactions. 

  h3#integrations Direct Point of Sale Integrations
  p Get access to BitPay's bitcoin payment processing on full-fledged traditional and tablet-based point of sale (POS) systems. Check out all of our direct POS integration options on our <a href="/integrations#pos">Integrations</a> page.

  
