extends ../_layouts/docs

block title
  title Banking &amp; Settlements | BitPay Documentation

append vars
  -var pageSelected = 'Docs'
  -var subpageSelected = 'Banking & Settlements'

block information
  h2.header__bottom-border-left Banking &amp; Settlements
  p.lead Exactly what you charge, deposited directly into your bank account.

  h3 Bank Deposits
  p Settlement payments happen automatically, every business day. BitPay collects and deposits all payments processed from the previous business day directly to your bank or bitcoin wallet, according to your settlement preferences.
  p We protect merchants on our platform by maintaining enterprise-level legal and compliance standards. Tiered processing limits apply based on verification level; these limits can be raised through <a href=https://bitpay.com/merchant-compliance>compliance verification</a>.

  h3 Currencies
  p.lead BitPay supports settlement in 9 currencies and direct bank deposit in 38 countries.

  h3 Settlement Timing
  p.lead Depending on your location, minimum settlement amounts and deposit timings vary.
  .row
    .column.xlarge-6
      h5 US Dollars (USD)
      p Settlement in USD is available via ACH to banks in the USA, and will appear in your bank account after two business days. The minimum settlement is 20 USD.

      h5 Canadian Dollars (CAD)
      p The minimum settlement is 100 CAD. Settlement will appear in your bank account after two business days.

      h5 Australian Dollars (AUD)
      p The minimum settlement is 1,000 AUD. Settlement will appear in your bank account after two business days.

      h5 Pounds Sterling (GBP)
      p The minimum settlement is 1,000 GBP. Settlement will appear in your bank account after two business days.

      h5 Mexican Pesos (MXN)
      p The minimum settlement is 10,000 MXN. Settlement will appear in your bank account after two business days.

      h5 New Zealand Dollar (NZD)
      p The minimum settlement is 1,000 NZD. Settlement will appear in your bank account after two business days.

      h5 Bitcoin (BTC)
      p If you choose to take settlement in bitcoin, BitPay will forward bitcoin payments to your bitcoin address on file. The minimum settlement is 0.01 BTC.
      
      
    .column.xlarge-6
      h5 Euros (EUR)
      p Settlement will appear in your bank account after one business day. The minimum settlement is 20 EUR.
      hr
      p Settlement in EUR is available via SEPA transfer to the following countries:
      .row
        .column.small-6
          ul.no-bullet
            li Austria
            li Belgium
            li Bulgaria
            li Croatia
            li Cyprus
            li Czech Republic
            li Denmark
            li Estonia
            li Finland
            li France
            li Germany
            li Greece
            li Hungary
            li Ireland
            li Italy
            li Latvia
          
        .column.small-6
          ul.no-bullet
            li Liechtenstein
            li Lithuania
            li Luxembourg
            li Malta
            li Monaco
            li Netherlands
            li Norway
            li Poland
            li Portugal
            li Romania
            li Slovakia
            li Slovenia
            li Spain
            li Sweden
            li Switzerland
      h5 South African Rand (ZAR)
      p The minimum settlement is 10,000 ZAR. Settlement will appear in your bank account after two business days.

  hr
  .row
    .column.xlarge-6
      h3 Bitcoin Split
      p Many merchants choose to take a percentage of their settlement in bitcoin. This can be done by taking a Bitcoin Split. You can choose to take any percentage- or all of it- in bitcoin. You can set up a bitcoin split in your <a href=https://bitpay.com/dashboard/settings/settlement>Settlement settings</a>. Settlement is paid to your bitcoin address on file.

    .column.xlarge-6
      h3 Exchange Rates
      p Merchants who generate invoices in a currency different from their settlement currency will receive the exchange rate as calculated at the time the invoice was generated, using the rates provided by <a href=https://openexchangerates.org/> openexchangerates.org</a>.
