extends ../_layouts/docs

block title
  title Banking & Settlement | BitPay

append vars
  -var pageSelected = 'Docs'
  
block information
  h2.header__bottom-border-left Banking &amp; Settlement
  p.lead ███████ ███████ ████ █████████ ███████ ███████ ███████ ███████ ████ █████████ ███████ ███ ███████.
