extends ../_layouts/docs

block title
  title Banking & Settlement | BitPay

append vars
  -var pageSelected = 'Docs'
  -var subpageSelected = 'Banking & Settlements'

block information
  h2.header__bottom-border-left Banking &amp; Settlement
  p.lead Exactly what you charge, deposited directly into your bank account.

  h3 Bank Deposits
  p Settlement payments happen automatically, every business day. BitPay collects and deposits all payments processed from the previous business day directly to your bank or bitcoin wallet, according to your settlement preferences.
  p We protect merchants on our platform by maintaining enterprise-level legal and compliance standards. Tiered processing limits apply based on verification level; these limits can be raised through <a href=https://bitpay.com/merchant-compliance> compliance verification </a>.

  h3 Currencies
  p BitPay supports settlement in 9 currencies and direct bank deposit in 33 countries.
  
