extends ../_layouts/docs

block title
  title Bitcoin Wallet Comparison | BitPay

append vars
  -var pageSelected = 'Docs'
  -var subpageSelected = 'Bitcoin Wallet Comparison'
  
block information
  h2.header__bottom-border-left Bitcoin Wallet Comparison
  p.lead BitPay Merchants can accept bitcoin payments from any bitcoin wallet or account service, and BitPay supports all Bitcoin protocol standards.
  p While it's possible to use any bitcoin wallet or account service with BitPay, users should consider choosing a wallet that supports enhanced bitcoin security and protocol standards.


  
  
