.padding-vertical.bg-dark(style="position: relative; z-index: 1")
  .row
    .column.small-12
      ul.small-block-grid-1.medium-block-grid-2.large-block-grid-3.xlarge-block-grid-6
        li
          h6.bold.uppercase.white-opacity.body-text__bottom-border Platform
          ul.no-bullet
            li
              a(href="/tour").white-link--opacity Tour
            li
              a(href="/features").white-link--opacity Features
            li
              a(href="/integrations").white-link--opacity Integrations
            li
              a(href="/pricing").white-link--opacity Pricing
        li
          h6.bold.uppercase.white-opacity.body-text__bottom-border Docs
          ul.no-bullet
            li
              a(href="/docs").white-link--opacity Getting Started
            li
              a(href="/docs/ecommerce").white-link--opacity Selling Online
            li
              a(href="/docs/retail").white-link--opacity Selling in Store
            li
              a(href="/api").white-link--opacity API &amp; SDKs
            li
              a(href="/docs/settlement").white-link--opacity Settlement

        li
          h6.bold.uppercase.white-opacity.body-text__bottom-border Resources
          ul.no-bullet
            li
              a(href="https://support.bitpay.com").white-link--opacity Help &amp; Support
            li
              a(href="/bitcoin-exchange-rates").white-link--opacity Exchange Rates
        li
          h6.bold.uppercase.white-opacity.body-text__bottom-border Open Source
          ul.no-bullet
            //- li
            //-   a(href="/open-source").white-link--opacity Open Source
            li
              a(href="http://bitcore.io/").white-link--opacity Bitcore
            li
              a(href="https://copay.io/").white-link--opacity Copay
            li
              a(href="https://labs.bitpay.com/").white-link--opacity Forums
            li
              a(href="https://github.com/bitpay").white-link--opacity GitHub

        li
          h6.bold.uppercase.white-opacity.body-text__bottom-border Company
          ul.no-bullet
            li
              a(href="/about").white-link--opacity About
            li
              a(href="/about/team").white-link--opacity Team
              span.footer-label we're hiring!
            li
              a(href="/about/press").white-link--opacity Press
            li
              a(href="http://blog.bitpay.com").white-link--opacity Blog

        li
          .left
            include ../_includes/languages
          div(style="clear:both;")
          ul.inline-list(style="margin-top:3px;")
            li(style="margin-left:0;")
              a(href="http://www.twitter.com/bitpay" target="blank" style="background-image: url('/images/twitter.svg')").social-icon.white-link--opacity
            li
              a(href="http://www.github.com/bitpay" target="blank" style="background-image: url('/images/github.svg')").social-icon.white-link--opacity
            li
              a(href="http://www.linkedin.com/company/bitpay-inc-" target="blank"  style="background-image: url('/images/linkedin.svg')").social-icon.white-link--opacity

  .row.padding-top-less.margin-top-less.border-top-light
    .column.medium-6
      ul.inline-list
        li.footer-sublinks
          small
            a(href="/about/terms").white-link--opacity Terms of Use
        li.footer-sublinks
          small
            a(href="/about/privacy").white-link--opacity Privacy Policy
        li.footer-sublinks
          small
            a(href="/about/privacy#cookies").white-link--opacity Cookie Policy
    .column.medium-6
      ul.inline-list.medium-float-right
        li.white-opacity(style="margin-left:0;")
          small &copy;2015 BitPay, Inc.
        li
          a(href="/").logo.footer-logo.white-link--opacity
