.footer
  .row
    .column.small-6.large-2.footer-nav-list
      p.h6 Platform
      ul.no-bullet
        li
          a(href="/Tour") Tour
        li
          a(href="/features") Features
        li
          a(href="/use-cases") Use Cases
        li
          a(href="/integrations") Integrations
        li
          a(href="/pricing") Pricing
          
    .column.small-6.large-2.footer-nav-list
      p.h6 Documentation
      ul.no-bullet
        li
          a(href="/docs") Getting Started
        li
          a(href="/docs/ecommerce") Selling Online
        li
          a(href="/docs/retail") Selling in Store
        li
          a(href="/docs/api") API & SDKs
        li
          a(href="/docs/settlement") Settlement

    .column.small-6.large-2.footer-nav-list
      p.h6 Resources
      ul.no-bullet
        li
          a(href="#") Help & Support
        li
          a(href="/bitcoin-exchange-rates") Exchange Rates
    .column.small-6.large-2.footer-nav-list
      p.h6 Open Source
      ul.no-bullet
        li
          a(href="http://bitcore.io/") Bitcore
        li
          a(href="https://copay.io/") Copay
        li
          a(href="https://labs.bitpay.com/") Forums
        li
          a(href="https://github.com/bitpay") GitHub
    .column.small-6.large-2.footer-nav-list
      p.h6 Company
      ul.no-bullet
        li
          a(href="/about") Team
        li
          a(href="/about/careers") Careers
          span.footer-label we're hiring!
        li
          a(href="http://blog.bitpay.com") Blog
        li
          a(href="/press") Press
    .column.small-6.large-2.footer-nav-list
      include ../_includes/languages
      ul.inline-list.right
        li
          a(href="http://www.twitter.com/bitpay", target="blank").social-icon.twitter
        li
          a(href="http://www.github.com/bitpay", target="blank").social-icon.github
        li
          a(href="http://www.linkedin.com/company/bitpay-inc-", target="blank").social-icon.linkedin
      
  .row.padding-top
    .column.small-12.medium-6
      ul.inline-list
        li
          a(href="/about/terms") Terms of Service
        li
          a(href="/about/privacy") Privacy Policy
    .column.small-12.medium-6
      ul.inline-list.right-medium-up
        li.footer-text
          small &copy;2015 BitPay, Inc.
        li
          a(href="/").logo.footer-logo
