.footer
  .row
    .column.small-6.large-2.footer-nav-list
      p.h6 Platform
      ul.no-bullet
        li
          a(href="/Tour").footer-link Tour
        li
          a(href="/features").footer-link Features
        li
          a(href="/use-cases").footer-link Use Cases
        li
          a(href="/integrations").footer-link Integrations
        li
          a(href="/pricing").footer-link Pricing
          
    .column.small-6.large-2.footer-nav-list
      p.h6 Documentation
      ul.no-bullet
        li
          a(href="#").footer-link Getting Started
        li
          a(href="#").footer-link Setup Guides
        li
          a(href="#").footer-link API & SDKs
        li
          a(href="#").footer-link Settlement
        li
          a(href="#").footer-link FAQs

    .column.small-6.large-2.footer-nav-list
      p.h6 Resources
      ul.no-bullet
        li
          a(href="#").footer-link Help & Support
        li
          a(href="#").footer-link Exchange Rates
    .column.small-6.large-2.footer-nav-list
      p.h6 Open Source
      ul.no-bullet
        li
          a(href="#").footer-link Bitcore
        li
          a(href="#").footer-link Copay
        li
          a(href="#").footer-link Forums
        li
          a(href="#").footer-link GitHub
    .column.small-6.large-2.footer-nav-list
      p.h6 Company
      ul.no-bullet
        li
          a(href="#").footer-link Team
        li
          a(href="#").footer-link Careers
          span.footer-label we're hiring!
        li
          a(href="#").footer-link Blog
        li
          a(href="#").footer-link Press
        li
          a(href="#").footer-link Legal
    .column.small-6.large-2.footer-nav-list
      include ../_includes/languages
      ul.inline-list.right
        li
          a(href="http://www.twitter.com/bitpay", target="blank").social-icon.twitter
        li
          a(href="http://www.github.com/bitpay", target="blank").social-icon.github
        li
          a(href="http://www.linkedin.com/company/bitpay-inc-", target="blank").social-icon.linkedin
      
  .row.footer-corporate
    .column.small-12.medium-6
      ul.inline-list
        li
          a(href="#").footer-link Terms of Service
        li
          a(href="#").footer-link Privacy Policy
    .column.small-12.medium-6
      ul.inline-list.right-medium-up
        li.footer-text
          small &copy;2015 BitPay Inc
        li
          a(href="/").logo.footer-logo
