.row.navbar.show-for-medium-up(role="navigation")
  .column.medium-2
    a(href="/").logo

  .column.medium-10
    ul.inline-list.main-menu
      li
        a(href="/tour.html").menu-item.uppercase Tour
      li
        a(href="/integrations.html").menu-item.uppercase Integrations
      li
        a(href="/pricing.html").menu-item.uppercase Pricing
      li
        a(href="/documentation.html").menu-item.uppercase Documentation
      li
        a(href="/documentation/api.html").menu-item.uppercase API
      li
        a(href="/dashboard/login.html").menu-item.uppercase Login
