.row.navbar.show-for-medium-up(role="navigation")
  .column.medium-1
    a(href="/").logo

  .column.medium-11
    ul.inline-list.main-menu
      li
        a(href="/tour.html").menu-item Tour
      li
        a(href="/integrations.html").menu-item Integrations
      li
        a(href="/pricing.html").menu-item Pricing
      li
        a(href="/documentation.html").menu-item Documentation
      li
        a(href="/documentation/api.html").menu-item API
      li
        a(href="/dashboard/login.html").menu-item.login-btn Log In
