.row.show-for-medium-up
  .column.medium-4
    a.logo

  .column.medium-8
    ul.inline-list.main-menu
      li
        a(href="#").uppercase Tour
      li
        a(href="#").uppercase Integrations
      li
        a(href="#").uppercase Pricing
      li
        a(href="#").uppercase Documentation
      li
        a(href="#").uppercase API
      li
        a(href="#").uppercase Login
