.row(role="navigation")
  .column.medium-1
    a(href="/").logo

  .column.medium-11.show-for-medium-up
    ul.inline-list.right.padding-top-bottom-small
      li
        a(href="/tour").menu-item Tour
      li
        a(href="/integrations").menu-item Integrations
      li
        a(href="/pricing").menu-item Pricing
      li
        a(href="/docs").menu-item Documentation

      li
        a(href="/docs/api").menu-item API
      li
        a(href="#").menu-item.login-btn Log In
