.row.show-for-medium-up
  .column.medium-6
    ul.inline-list
      li
        a(href="#").uppercase logo
      li
        a(href="#").uppercase Tour
      li
        a(href="#").uppercase Integrations
      li
        a(href="#").uppercase Pricing

  .column.medium-6
    ul.inline-list
      li
        a(href="#").uppercase Documentation
      li
        a(href="#").uppercase API
      li
        a(href="#").uppercase Login
