.border-bottom-gray.show-for-medium-up
  .row
    .column.medium-12
      ul.inline-list.subnav
        li
          a(href="/tour").uppercase.small-text.subnav-link.active Overview
        li
          a(href="/features").uppercase.small-text.subnav-link Features
        li
          a(href="#").uppercase.small-text.subnav-link Use Cases
        li
          a(href="/use-cases").uppercase.small-text.subnav-link Enterprise
