extends ../_layouts/primary

block title
  title Shopify Integration | BitPay
  
append vars
  -var pageSelected = 'Integrations'

block content
  // set background-color to one that matches the brand
  .section(style="background-color: #7ab55c;") 
    .row.white
      .column.large-8
        h2.header__bottom-border-left Shopify Integration 
        p.lead Accept bitcoin on your Shopify store with BitPay's one-click integration. 
      .column.large-4
        .h2.background-contain(style="background-image: url('/images/integrations/shopify.png'); width: 6em; height: 2.5em;")
        h5.bold.uppercase.margin-top-less.margin-bottom-none Category
        p.margin-bottom E-commerce Integration 
        a(href="https://www.shopify.com/login").arrow.white.btn.btn-white-border.uppercase.bold Integrate with BitPay
        
  
  .section.border-bottom-gray
    .row            
      .column
        h3.header__bottom-border-left#bitpay-and-xero BitPay and Shopify
    .row
      .column.large-4
        h5 Start selling everywhere.
        br
        p If you can ship it there, you can sell it there. Bitcoin can be sent and received anywhere in the world by anyone with an internet connection. 
      .column.large-4
        h5 Eliminate fraud and chargebacks.  
        br
        p Bitcoin transactions don't contain any sensitive financial or personal information. No chargebacks for your business, no risk of data theft for your customers – everybody wins.
      .column.large-4
        h5 Get to checkout in no time flat. 
        br
        p BitPay's scan-to-pay bitcoin invoices give your customers a faster, simpler way to pay from any device in seconds – no data entry required. 
              
  .section
    .row
      .column.large-3.hide-for-small.hide-for-medium(style="position: relative; z-index: 0")
        ul.side-nav(role="navigation" data-magellan-expedition="fixed" data-options="destination_threshold: -80; toffset_by_height: false;")
          h4 Guide Contents
          li
            a(href="#requirements" data-magellan-arrival="requirements") Requirements
          li
            a(href="#configuration" data-magellan-arrival="configuration") Configuration
            
      .column.large-9
        .row
          .column
            h3.header__bottom-border-left Integration Requirements
            p.lead Get started by #[a.arrow-blue(href="/dashboard/signup") signing up for a BitPay merchant account].
            
        .row
          .column 
            .section.border-bottom-gray
              h3.header__bottom-border-left#configuration(data-magellan-destination="configuration") Connecting BitPay and Shopify

              ol(type="1")
                li
                  p Log in to your Shopify admin account and select #[strong "Settings" &gt; "Payments" &gt; "Alternative Payments" &gt; "Select an Additional Payment Method" &gt; "BitPay."] 
                  img(src="/images/integrations/details/shopifystep1.jpg", alt="Shopify Settings").margin-vertical
                li
                  p Log in to your BitPay merchant dashboard and create an #[a(href="/dashboard/merchant/api-keys") API Key] in your BitPay merchant dashboard.
                  img(src="/images/integrations/details/shopifystep2.jpg", alt="Shopify Settings").margin-vertical
                li
                  p Copy and paste this API Key into the #[strong "API Key ID"] field in your Shopify admin dashboard to pair your accounts. 
                  img(src="/images/integrations/details/shopifystep3.jpg", alt="Shopify Settings").margin-vertical
                  
              p.lead Nice work! Your customers will now be able to check out with bitcoin on your Shopify site. 
                  
          .column.large-12.text-center
            a(href="/dashboard/signup").white.btn.btn-blue-solid.uppercase.bold.arrow.btn-margin Create an Account
            a(href="https://www.shopify.com/login").white.btn.btn-blue-solid.uppercase.bold.arrow.btn-margin Integrate with BitPay
