extends ../_layouts/primary

block title
  title Xero Integration | BitPay
  
append vars
  -var pageSelected = 'Integrations'

block content
  // set background-color to one that matches the brand
  .section(style="background-color: #13b5ea;") 
    .row.white
      .column.large-8
        h2.header__bottom-border-left Xero Integration 
        p.lead Send invoices and receive bitcoin payments through BitPay's integration with Xero's cloud-based billing and accounting services.
      .column.large-4
        .h2.background-contain(style="background-image: url('/images/integrations/XeroAddOnLogo.png'); width: 6em; height: 2.5em;")
        h5.bold.uppercase.margin-top-less.margin-bottom-none Category
        p.margin-bottom Billing Integration 
        a(href="#").arrow.white.btn.btn-white-border.uppercase.bold Integrate with BitPay
    
  .section.border-bottom-gray
    .row
      .column.large-3.margin-bottom
        .padding-horizontal.padding-top-less.radius.border-gray
          h4 Prerequisites
          p You must have a BitPay merchant account to use this integration. It's free to #[a(href="/dashboard/signup") sign up for a BitPay account].
      .column.large-8.large-pull-4
        h4 Guide Contents
        ul.no-bullet
          li
            a(href="#bitpay-and-xero") BitPay and Xero
          li
            a(href="#connecting") Connecting BitPay to Xero
          li
            a(href="#using") Using BitPay with Xero 
        
  
  .section.border-bottom-gray#bitpay-and-xero
    .row
      .column.large-4.large-push-8.margin-bottom
        .padding-horizontal.padding-top-less.radius.border-gray
          h4 What Is Xero?
          p.lead Xero is easy to use online accounting software that’s designed specifically for small businesses.
          ul 
            li It's all online, so you can work when and where you want to. Just login with your PC, Mac or mobile.
            li Your bank statements are automatically imported and categorized, letting you see your cashflow in real-time
            li Invite your team and work together on financials. You can collaborate over your up-to-date numbers.
            li Xero has all you need to run your business – including invoicing, paying bills, sales tax returns, reporting and much more.
          ul 
          p Find out more or try <a href="http://www.xero.com/">Xero Accounting Software</a> for free.            
      
      .column.large-8.large-pull-4
        h3 BitPay and Xero
        p. lead Accept bitcoin bill payments and receive bank settlements in your own currency using BitPay's Xero integration.
        h5 Invoice your clients in a snap.
        p BitPay's scan-to-pay invoices integrate seamlessly into Xero's one-click payment flow, giving your customers a faster way to pay their bills online. 
        h5 Receive payments from anywhere on earth. 
        p Like the Internet, the Bitcoin network is global and universally accessible. Anyone with an internet connection can pay BitPay's Xero-hosted invoices using bitcoin. 
        h5 Eliminate the risk of payment fraud or data theft.
        p Senders and recipients on the Bitcoin network don't need to hand over sensitive personal or financial information. Adding a bitcoin billing option through Xero and BitPay requires no additional security or PCI compliance costs, and your clients can rest at ease knowing thh funds are secure.  
            
  .section.border-bottom-gray#connecting
    .row
      .column.large-8     
        h3.header__bottom-border-left Connecting BitPay and Xero 
        p.lead BitPay's bitcoin billing functionality can be added to your Xero account in a few simple steps. 
        
        ol(type="1")
          li
            p In your BitPay merchant dashboard, select #["Payment Tools" > "Connect to Xero"] 
          li
            p Login to your Xero account and select #["Settings" > "General Settings" > "Payment Settings" > "Add Payment Service."] 
            .h2.background-contain(style="background-image: url('/images/integrations/details/XeroSetupImage1.png'); height:14em;") 
          li 
            p Choose your business account and select #["Authorize"] to complete the connection. 
            .h2.background-contain(style="background-image: url('/images/integrations/details/XeroSetupImage2.png'); height:8em;") 
            
        
  .section#using
    .row
      .column.large-8     
        h3.header__bottom-border-left Using BitPay with Xero
        p.lead With your accounts connected, you can now send bitcoin invoices through your Xero account.  
        
        ol(type="1") 
          li
            p To generate a bill, select #["Settings" > "Create Invoice."]
          li
            p Enter an email address for the intended recipient of your bill and an amount in bitcoin or your local currency. 
          li
            p Using any computer or mobile device, the bill recipient will select #["Pay Now"] on the Xero invoice and scan the QR code or copy the bitcoin address of the BitPay invoice presented. 
          li 
            p Bill recipients will send bitcoin payments to the invoice address with their bitcoin wallets of choice. Xero will you when an invoice has been paid in full. 
