extends ../_layouts/primary

block title
  title Xero Integration | BitPay
  
append vars
  -var pageSelected = 'Integrations'

block content
  // set background-color to one that matches the brand
  .section(style="background-color: #13b5ea;") 
    .row.white
      .column.large-8
        h2.header__bottom-border-left Xero Integration 
        p.lead Send invoices and receive bitcoin payments through BitPay's integration with Xero's cloud-based billing and accounting services.
      .column.large-4
        .h2.background-contain(style="background-image: url('/images/integrations/details/XeroAddOnLogo.png'); width: 6em; height: 2.5em;")
        h5.bold.uppercase.margin-top-less.margin-bottom-none Category
        p.margin-bottom Billing Integration 
        a(href="#").arrow.white.btn.btn-white-border.uppercase.bold Integrate with BitPay
        
  
  .section.border-bottom-gray
    .row            
      .column
        h3.header__bottom-border-left#bitpay-and-xero BitPay and Xero
    .row
      .column.large-4
        .icon.h2.background-contain.margin-vertical-less(style="background-image: url('/images/global.svg'); width:3.5em; height: 3.5em;")
        h5 Invoice your clients in a snap.
        br
        p BitPay's scan-to-pay invoices integrate seamlessly into Xero's one-click payment flow, giving your customers a faster way to pay their bills online. 
      .column.large-4
        .icon.h2.background-contain.margin-vertical-less(style="background-image: url('/images/global.svg'); width:3.5em; height: 3.5em;")
        h5 Receive payments from anywhere. 
        br
        p Like the Internet, the Bitcoin network is global and universally accessible. Anyone with an internet connection can pay BitPay's Xero-hosted invoices using bitcoin. 
      .column.large-4
        .icon.h2.background-contain.margin-vertical-less(style="background-image: url('/images/security.svg'); width:3.5em; height: 3.5em;")
        h5 Eliminate fraud and data theft risk.
        br
        p Bitcoin transactions don't contain any sensitive financial or personal information. You can send bitcoin invoices with no additional security or PCI compliance costs, and your clients can trust that their funds are secure. 
                    
  .section
    .row
      .column.large-3.hide-for-small.hide-for-medium(style="position: relative; z-index: 0")
        ul.side-nav(role="navigation" data-magellan-expedition="fixed" data-options="destination_threshold: -80; toffset_by_height: false;")
          h4 Guide Contents
          li
            a(href="#connecting-bitpay-and-xero" data-magellan-arrival="connecting-bitpay-and-xero") Connecting BitPay and Xero
          li
            a(href="#using-bitpay-with-xero" data-magellan-arrival="using-bitpay-with-xero") Using BitPay with Xero
            
      .column.large-9
        .row
          .column
            h4 Prerequisites
            p You must have a BitPay merchant account to use this integration. It's free to #[a(href="/dashboard/signup") sign up for a BitPay account].
        
        .row
          .column 
            .section.border-bottom-gray
              h3.header__bottom-border-left#connecting-bitpay-and-xero(data-magellan-destination="connecting-bitpay-and-xero") Connecting BitPay and Xero 
              p.lead BitPay's bitcoin billing functionality can be added to your Xero account in a few simple steps. 
              
              ol(type="1")
                li
                  p In your BitPay merchant dashboard, select #[strong "Payment Tools" > "Connect to Xero."] 
                li
                  p Log in to your Xero account and select #[strong "Settings" > "General Settings" > "Invoice Settings" > "Add Payment Service."] 
                li
                  p Select #[strong "Add Payment Service"] and enter a preferred name for the new bitcoin payment option.
                li 
                  p Select #[strong "Custom Payment URL"]. Copy the URL  displayed on your BitPay merchant dashboard and paste it in the supplied Xero field to pair the accounts. 
                  .h2.background-contain(style="background-image: url('/images/integrations/details/XeroSetupImage1.png'); height:10em;") 
                li 
                  p In your Xero account, choose the name of your business organization and select #[strong "Authorize"] to complete the account connection.
                  .h2.background-contain(style="background-image: url('/images/integrations/details/XeroSetupImage2.png'); height:10em;") 
        .row
          .column
            .section         
              h3.header__bottom-border-left#using-bitpay-with-xero(data-magellan-destination="using-bitpay-with-xero")  Using BitPay with Xero 
            
              ol(type="1") 
                li
                  p To generate an invoice, select #["Settings" > "Create Invoice."]
                li
                  p Enter an email address for the intended recipient of your bill and an amount in bitcoin or your local currency. Send the invoice to your recipient. 
                li
                  p Using any computer or mobile device, the Xero invoice recipient will select #["Pay Now"] and scan the QR code or copy the bitcoin address of the BitPay payment invoice presented. 
                li 
                  p Bill recipients will send bitcoin payments to the invoice address with their bitcoin wallets of  choice. Xero will notify you when your customer's invoice has been paid in full, and completed bill payments will be displayed on your BitPay merchant dashboard ledger. 
