// Font colors

.white {
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  &:hover {
    color: #FFFFFF;
  }
}

.white-opacity {
  @extend .white;
  opacity: 0.7;
}

.white-link--opacity {
  @extend .white;
  opacity: 0.7;
  transition: opacity 0.2s;
  &:hover {
    opacity: 1;
  }
}

.blue-light {
  color: $blue-light;
}

.blue-medium {
  color: $blue-medium;
}

.blue-dark {
  color: $blue-dark;
}

// Background colors

.bg-dark {
  background: #0E1C40;
}

.bg-blue {
  background: $blue-dark;
}
