.section {
  padding: 3em 0;
  @media #{$medium-up} {
    padding: 6em 0;
  }
  .navbar + & {
    padding-top: 0;
  }
  &--less-padding {
    padding: 2em 0;
    @media #{$medium-up} {
      padding: 3em 0;
    }
  }
  &--gray {
    background: $gray-xlight;
    border-top: 1px solid $gray-light;
    & + .section {
      border-top: 1px solid $gray-light;
    }
  }
}

ul {
  line-height: 1.8;
}
