.footer-label {
  @extend .white;
  font-size: 0.6em;
  display: inline-block;
  background: $blue-light;
  background: linear-gradient(to bottom, $blue-light, darken($blue-light, 8%));
  padding: 0 5px 1px;
  border-radius: 10px;
  position: relative;
  top: -2px;
  margin-left: 10px;
}

.language-selector {
  @extend .white-opacity;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  line-height: normal;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -ms-appearance: none !important;
  -o-appearance: none !important;
  appearance: none !important;
  border: 1px solid rgba(255,255,255,0.7);
  border-radius: 3px;
  width: 100%;
  height: 2.3125rem;
  cursor: pointer;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xNDcgMzEgMjQgMyI+PHBvbHlnb24gZmlsbD0iI0ZGRkZGRiIgcG9pbnRzPSItMTMyLDMxIC0xMzUsMzQgLTEzOCwzMSIvPjwvc3ZnPg==);
  background-position: 100% center;
  background-repeat: no-repeat;
  background-size: 35px;
  background-color: transparent;
  &:hover {
    background-color: rgba(255,255,255,0.05);
    border-color: #FFFFFF;
  }
}

.social-icon {
  padding: 10px;
  &.twitter {
    background-image: url('../images/twitter.svg');
  }
  &.github {
    background-image: url('../images/github.svg');
  }
  &.linkedin {
    background-image: url('../images/linkedin.svg');
  }
}

.footer-logo {
  background-image: url('../images/bitpay-logo-primary.svg');
  width: 60px;
}
