.logo {
  width: 80px;
  height: 25px;
  display: inline-block;
  margin-top: 1.25rem;
  background-image: url('../images/bitpay-logo-dark.svg');
  background-repeat: no-repeat;
  .landing & {
    background-image: url('../images/bitpay-logo-primary.svg');
  }
}

.menu-item {
  color: $blue-dark;
  font-size: 0.9em;
  @extend .uppercase;
  letter-spacing: 1.2px;
  opacity: 1;
  transition: opacity 0.2s;
  &:hover {
    color: $blue-dark;
    text-decoration: none;
    opacity: 0.5;
  }
  .landing & {
    @extend .white;
    text-shadow: 0 0 3px rgba(0,0,0,0.5);
    &:hover {
      opacity: 0.7;
    }
  }
}

.login-btn {
  padding: 5px 15px 4px;
  border-radius: 1000px;
  border: 1px solid;
  display: inline-block;
  position: relative;
  top: -6px;
}

// subnav

.subnav {
  margin-bottom: -1px;
  @media #{$small-only} {
    margin-top: 1rem;
  }
}

.subnav-link {
  color: $gray-medium;
  padding-bottom: 0.6rem;
  margin-right: 1rem;
  &.selected {
    font-weight: 600;
    color: $blue-light;
    border-bottom: 3px solid $blue-light;
    &:hover {
      cursor: default;
    }
  }
}
