.social-icon {
  padding: 10px;
}

.checkmark:before,
.incorrect:before {
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin-left: 15px;
  margin-right: 6px;
  position: relative;
  top: -1px;
}

.checkmark:before {
  background: url('/images/icons/checkmark.svg');
  width: 22px;
  height: 21px;
}

.incorrect:before {
  background: url('/images/icons/incorrect.svg');
  margin-right: 9px;
}

.inline-icon:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -2px;
  padding: 12px;
  background-repeat: no-repeat;
  margin-right: 1rem;
}

.blog:before {
  background-image: url('/images/icons/blog-dark.svg');
}

.twitter:before {
  background-image: url('/images/icons/twitter-dark.svg');
}

.linkedin:before {
  background-image: url('/images/icons/linkedin-dark.svg');
}

.facebook:before {
  background-image: url('/images/icons/facebook-dark.svg');
}
