.cta-content {
  position: absolute;
  top: 4rem;
  left: 0.9375rem;
  right: 0.9375rem;
  z-index: 10;
  @include x-small-screen {
    top: -2rem;
  }
  @media #{$medium-up} {
    top: 4rem;
  }
  @media #{$large-up} {
    top: 8rem;
  }
}

.bitcoin-logo {
  width: 5rem;
  @extend .image-center;
  padding: 1em;
  @media #{$medium-up} {
    width: 7rem;
  }
}

.cta-btns {
  text-align: center;
  @extend .uppercase;
  margin-top: 4em;
  & > .btn {
    margin: 0 0.5em;
    font-weight: bold;
  }
  @include x-small-screen {
    margin-top: 3rem;
  }
}

.home-logos {
  margin-top: 1.5em;
}

.map-box {
  position: relative;
  opacity: 0.5;
  top: -2rem;
  @include x-small-screen {
    display: none;
  }
  @media #{$medium-up} {
    width: 110%;
    left: -5%;
    top: 0;
  }
}

.trusted-by {
  @media #{$small-up} {
    margin-top: 22em;
  }
  @media #{$medium-up} {
    margin-top: 0;
  }
}
