@mixin white-link-opacity {
  @extend .white;
  opacity: 0.7;
  transition: opacity 0.2s;
  &:hover {
    opacity: 1;
  }
}

// to target smaller screens between 320px - 375px
@mixin x-small-screen {
  @media screen and (max-width: 370px) {
    @content;
  }
}
