// If possible, avoid adding to this file.
// Whenever possible, styles should be abstracted from here into re-usable utilities.

// Home Page

.background-element {
  position: absolute;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  display: block;
  left: 0;
  right: 0;
  z-index: -1;
}

.home-logos {
  margin-top: 1rem;
  height: 5rem;
  @media #{$medium-up} {
    height: 7rem;
  }
}
