.integration-logo {
  height: 2em;
  width: 2em;
  display: block;
  margin: auto;
  background-color: $gray-xlight;
  border: 1px solid $gray-light;
  background-size: 60%;
  border-radius: 100px;
  transition: all 0.2s ease;
  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.search-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 30px;
  top: 10px;
}

.small-icon {
  height: 0.95em;
  display: inline-block;
  position: relative;
  top: 2px;
}

.symbol {
  font-size: 35%;
  position: relative;
  top: -25px;
}

.rates,
.rates-flag {
  @media #{$small-only} {
    font-size: 80%;
  }
}
