// Tour- Overview

.integration-logo {
  height: 2em;
  width: 2em;
  display: block;
  margin: auto;
  background-color: #F0F0F0;
  background-size: 75%;
  border-radius: 100px;
  transition: all 0.2s ease;
  &:hover {
    transform: scale(1.1);
  }
}
