@mixin addUtililty($property, $less, $normal, $more){
  .#{$property}-less {
    #{$property}: $less
  }
  .#{$property} {
    #{$property}: $normal
  }
  .#{$property}-more {
    #{$property}: $more
  }
}

@include addUtililty('padding-top',      1em, 2em, 3em);
@include addUtililty('padding-right',    1em, 2em, 3em);
@include addUtililty('padding-bottom',   1em, 2em, 3em);
@include addUtililty('padding-left',     1em, 2em, 3em);

@include addUtililty('margin-top',       1em, 2em, 3em);
@include addUtililty('margin-right',     1em, 2em, 3em);
@include addUtililty('margin-bottom',    1em, 2em, 3em);
@include addUtililty('margin-left',      1em, 2em, 3em);

@include addUtililty('opacity', 0.5, 0.75, 0.9);

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.small-text {
  font-size: 0.7rem;
  @media #{$medium-up} {
    font-size: 0.9rem;
  }
}

.text-shadow {
  text-shadow: 1px 2px 0px rgba(0,0,0,0.50)
}

.border-top-gray {
  border-top: 1px solid $gray-light;
}

.border-bottom-gray {
  border-bottom: 1px solid $gray-light;
}

.background-contain {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.left-medium-up {
  @media #{$medium-up} {
    float: left !important;
  }
}

.right-medium-up {
  @media #{$medium-up} {
    float: right !important;
  }
}

.center-text-small {
  @media #{$small-only} {
    text-align: center;
  }
}

.top-border-light {
  border-top: 1px solid rgba(255,255,255,0.1);
}
