extends ../_layouts/primary

block title
  title Team | BitPay
  
block content
  .section.bg-gray-gradient.border-bottom-gray
    .row.fade-in
      .column.medium-8-medium-offset-2
        h2.text-center.header__bottom-border Work With Bitcoin's Most Exciting Company
        
  .section.border-bottom-gray
    .row
      .column.large-7
        h3.header__bottom-border-left Current Openings
        p.lead We're always looking for driven individuals who are excited about bitcoin to add to our team.
        h4.margin-bottom-less Design
        ul.accordion(data-accordion)
          li.accordion-navigation
            p.lead
              a(href="#UI-UX_Designer").block UI/UX Designer
              span.small Atlanta, GA
            #UI-UX_Designer.content.padding-bottom
              p.lead We are seeking a frontend designer with solid experience and a clean, modern portfolio of web and interface design. UX Designers have the opportunity to lead product direction and own projects from concept through implementation and user testing.
            
              h5 Responsibilities
              ul
                li Develop and refine user experiences across products
                li Craft clean, modern, and responsive web and interface designs
                li Implement design work in well-structured HTML/CSS/Javascript
              
              h5.margin-top-less Requirements
              ul
                li A clean, modern portfolio showing deep knowledge of design principles
                li Deep understanding of modern SaaS and web application design
                li Experience with HTML/CSS/Javascript, familiarity with AngularJS is preferred
              p.margin-top-less
                a(href="mailto:jobs@bitpay.com").white.btn.btn-blue-solid.uppercase.bold.arrow Apply Now
          
          li.accordion-navigation
            p.lead
              a(href="#UI-UX_Developer").block UI/UX Developer
              span.small Atlanta, GA
            #UI-UX_Developer.content.padding-bottom
              p.lead We are seeking a frontend developer with solid experience creating well-structured JavaScript, HTML5, and CSS applications. AngularJS experience is ideal.
            
              h5 Responsibilities
              ul
                li Developing production-ready AngularJS applications and components
                li Effectively illustrating design proposals through mockups
                li Factoring in responsive design for both mobile and desktop platforms
              
              h5.margin-top-less Requirements
              ul
                li 3+ years writing production-ready frontend applications
                li Knowledge of AngularJS
                li Ability to code with cross-platform performance in mind
              p.margin-top-less
                a(href="mailto:jobs@bitpay.com").white.btn.btn-blue-solid.uppercase.bold.arrow Apply Now
          
        h4.margin-bottom-less Engineering
        
        ul.accordion(data-accordion)
          li.accordion-navigation
            p.lead
              a(href="#Sr_iOS_Developer").block Sr. iOS Developer
              span.small Atlanta, GA
            #Sr_iOS_Developer.content.padding-bottom
              p.lead We are looking for an iOS Developer to join our team and help build out our new mobile initiative.
            
              h5 Responsibilities
              ul
                li 3+ years of experience in iPhone/iPad development
                li iOS SDK, Objective-C, XCode, Cocoa Touch &amp; MAC OS X
                li Experience building enterprise mobile applications from the ground up
                li Experience in Open Source development – preferably Node.js, AngularJS and MongoDB
              
              h5.margin-top-less Requirements
              ul
                li Knowledge of mobile payment processing applications
                li Experience with Cordova/Phonegap
                li Deep understanding of Bitcoin
                li Startup experience
              p.margin-top-less
                a(href="mailto:jobs@bitpay.com").white.btn.btn-blue-solid.uppercase.bold.arrow Apply Now
                  
          li.accordion-navigation
            p.lead
              a(href="#Sr_Network_Security_Engineer").block Sr. Network Security Engineer
              span.small Atlanta, GA
            #Sr_Network_Security_Engineer.content.padding-bottom
              p.lead We are seeking a backend engineer to implement security measures on our production environment.
            
              h5 Responsibilities
              ul
                li Develop and maintain the security procedures and best practices
                li Administering security audits and penetration testing
                li Troubleshooting network and integration issues
                li Develop, test and operate firewalls, intrusion detection systems, enterprise anti-virus systems and software deployment tools
              
              h5.margin-top-less Experience
              ul
                li 5+ years of IT Security experience
                li 2+ years experience securing Node.js and MongoDB applications in Production environments
                li Extensive experience configuring iptables (ideally on IPv6 networks as well)
                li Expertise in a Unix/Linux environment
                li Experience managing APTs (Advanced Persistent Threats) in Production environments
                li Familiarity with a cloud or hosting environment, preferably OpenStack
                li Intrusion protection (IPS) and detection (IDS), along with firewalls, proxy servers, and log aggregation technology experience
                li Proven experience with cyber-attack investigations, including:
                  ul
                    li Memory collection and analysis tools
                    li Network traffic collection and analysis tools
                    li Sandboxing other dynamic malware analysis tools
                    li Static malware reverse engineering analysis
                    li Computer, forensic analysis, Ubuntu Linux and file systems
              
              h5.margin-top-less Ideal Certifications
              ul
                li EnCase Certified Examiner (EnCE), Certified Fraud Examiner (CFE), Certified Ethical Hacker (CEH), Global Certified Incident Handler (GCIH), Certified Information Systems Security Professional (CISSP)
              p.margin-top-less
                a(href="mailto:jobs@bitpay.com").white.btn.btn-blue-solid.uppercase.bold.arrow Apply Now
                  
          li.accordion-navigation
            p.lead
              a(href="#Sr_Node_Developer").block Sr. Node Developer
              span.small Atlanta, GA & Buenos Aires, Argentina
            #Sr_Node_Developer.content.padding-bottom
              p.lead We are seeking a backend developer with production-level experience with Node.js and other JS frameworks, ideally some with AngularJS.
            
              h5 Responsibilities
              ul
                li Connecting frontend to backend systems through REST-ful HTTP APIs
                li Developing production environment to withstand High Security Threats
                li Factoring in concerns of scalability, reliability, logging, security into development
              
              h5.margin-top-less Requirements
              ul
                li Server-side development experience with Node.js and MongoDB
                li Experience with a version control system
                li Bachelor's in CS or you've built something spectacular
                li For Buenos Aires Applicants:  Fluency in English and Spanish
              p.margin-top-less
                a(href="mailto:jobs@bitpay.com").white.btn.btn-blue-solid.uppercase.bold.arrow Apply Now
                  
      .column.large-4
        h3.header__bottom-border-left Benefits
        p We offer competitive compensation, full benefits, stock options, and of course, the chance to take your pay in bitcoin.
