extends ../_layouts/primary

block title
  title Team | BitPay

append vars
  -var bodyClass = 'white-header bg-blue-gradient';

block content
  .section
    .row.fade-in-up
      .column.medium-8-medium-offset-2.text-center
        h2.white.text-shadow.margin-bottom-less.fade-in.delay-1 Build the future of payments.
        p.lead.text-shadow.white.fade-in-up.delay-2 BitPay is building infrastructure, developing Bitcoin's open-source ecosystem, and bringing Bitcoin to the world.
        a(href="#openings").white.btn.btn-blue-solid.uppercase.bold.fade-in-up.delay-2 Join the Team


  .section.bg-white.border-bottom-gray
    .row
      .column.small-centered.large-10.xlarge-9
        h3.header__bottom-border.text-center Working at BitPay
        p.lead.text-center We ask and answer Bitcoin's hardest questions, every day. Our culture values openness, debate, and action.

        .row
          .column.large-6
            h4 We're independent.
            p We're a very flat organization — everyone has ownership, and everyone has the responsibility and resources they need to get the job done.

            h4 We're agile.
            p We're constantly refining and improving our understanding of our customers and our product. We build and ship code quickly, deploying multiple times per day.

            h4 We're flexible.
            p Time with the team in a BitPay office is crucial, but we work effectively out of office, too. Our only mandate? Make a great bitcoin payment experience for our merchants.
          .column.large-6
            h4 We love open source.
            p Our team is dedicated to producing world-class open source software. We engage with the open source community and welcome feedback and pull requests.

            h4 We love bitcoin.
            p We love the technology that's driving our work. Even out of the office, we find ourselves talking about Bitcoin and its potential.
            p.lead.margin-top-more.padding-top-less
              a(href="https://github.com/bitpay").arrow-blue See what we're building


  .section.bg-white.border-bottom-gray
    .row
      .column.large-7#openings
        h3.header__bottom-border-left We're Hiring
        p.lead We're always looking for driven individuals who are excited about bitcoin to add to our team.

        p We offer competitive compensation, full benefits, stock options, and of course, the chance to take your pay in bitcoin.

        h4.margin-bottom-less.margin-top
          a(href="#design", name="design") Design
        ul.accordion(data-accordion="jobs")
          li.accordion-navigation.padding-bottom
            a(href="#Senior_UX_Designer").block.grow Senior UX Designer
            span.small Atlanta, GA
            #Senior_UX_Designer.content
              p We are seeking designers with extensive experience and clean, modern web, interface, and experience design portfolios. UX Designers have the opportunity to lead product direction and own projects from concept through implementation and user testing.
              h5 Responsibilities
              ul
                li Develop and refine user experiences across products
                li Craft clean, modern, and responsive web and interface designs
                li Work with engineers to implement design work
              h5.margin-top-less Requirements
              ul
                li Clean, modern portfolio pieces showing deep knowledge of design principles
                li Deep understanding of modern SaaS, web, and mobile application design
                li Experience with HTML/CSS/Javascript preferred
              p.margin-top-less
                a(href="mailto:careers@bitpay.com").white.btn.btn-blue-solid.uppercase.bold.arrow Apply Now
          
          li.accordion-navigation.padding-bottom
            a(href="#UX_Designer").block.grow UX Designer
            span.small Atlanta, GA
            #UX_Designer.content
              p We are seeking designers with solid experience and clean, modern web, interface, and experience design portfolio pieces. UX designers have the opportunity to lead product direction and own projects from concept through implementation and user testing.
              h5 Responsibilities
              ul
                li Develop and refine user experiences across products
                li Craft clean, modern, and responsive web and interface designs
                li Work with engineers to implement design work
              h5.margin-top-less Requirements
              ul
                li Clean, modern portfolio pieces showing deep knowledge of design principles
                li Deep understanding of modern SaaS, web, and mobile application design
                li Experience with HTML/CSS/Javascript preferred
              p.margin-top-less
                a(href="mailto:careers@bitpay.com").white.btn.btn-blue-solid.uppercase.bold.arrow Apply Now

        h4.margin-bottom-less.margin-top
          a(href="#engineering", name="engineering") Engineering

        ul.accordion(data-accordion="jobs")
          
          li.accordion-navigation.padding-bottom
            a(href="#Senior_Front-end_Engineer").block Senior Front-end Engineer
            span.small Atlanta, GA
            #Senior_Front-end_Engineer.content
              p We are seeking front-end engineers with extensive experience creating well-structured applications in HTML/CSS/Javascript. AngularJS experience is preferred.
              h5 Responsibilities
              ul
                li Develop production-ready AngularJS components and applications
                li Profile and optimize performance bottlenecks
                li Work with designers to create and polish user experiences
              h5.margin-top-less Requirements
              ul
                li Solid experience writing production-ready front-end applications
                li Strong understanding of software design patterns
                li Knowledge of AngularJS and Ionic Framework preferred  
              p.margin-top-less
                a(href="mailto:careers@bitpay.com").white.btn.btn-blue-solid.uppercase.bold.arrow Apply Now

          li.accordion-navigation.padding-bottom
            a(href="#Front-end_Engineer").block Front-end Engineer
            span.small Atlanta, GA
            #Front-end_Engineer.content
              p We are seeking front-end engineers with solid experience creating well-structured applications in HTML/CSS/Javascript. AngularJS experience is preferred.
              h5 Responsibilities
              ul
                li Develop production-ready AngularJS components and applications
                li Profile and optimize performance bottlenecks
                li Work with designers to create and polish user experiences
              h5.margin-top-less Requirements
              ul
                li Solid experience writing production-ready front-end applications
                li Strong understanding of software design patterns
                li Knowledge of AngularJS and Ionic Framework preferred  
              p.margin-top-less
                a(href="mailto:careers@bitpay.com").white.btn.btn-blue-solid.uppercase.bold.arrow Apply Now
                
          li.accordion-navigation.padding-bottom
            a(href="#Client_Ops_Engineer").block Client Operations Engineer
            span.small Atlanta, GA
            #Client_Ops_Engineer.content
              p In this role you will be the front line technical resource for BitPay’s processing software. As a Client Operations Engineer, you will often have to troubleshoot and resolve configuration problems during solution implementation and provide ongoing end-user support. You will also be called upon to assist merchants in handling payment accepting scenarios and to establish appropriate protocols for integrating the processing of Bitcoin payments into their existing customer support flow. 
              
              p You will be the liaison between the Operations organization and other teams including Development, Product Management, Compliance and Sales. You must have a good technical understanding of our product and be able to communicate at both a business and technical level. You will be tasked with resolving all operational technical issues to ensure complete customer confidence. Must be able to quickly establish strong, trusted relationships with customers and understand this as critical to success.
              h5 Responsibilities
              ul
                li Provide product support to customers, partners, and consultants according to Client Operations procedures in order to resolve problems of differing complexity
                li Foster collaboration between Sales, Operations, and Development teams
                li Assist with other Operations-related tasks as necessary
              h5.margin-top-less Requirements
              ul
                li Bachelor’s degree in MIS or Business-related field or equivalent work experience
                li Desire and ability to quickly learn in a fast-paced and often-changing environment
                li Excellent analytical, critical thinking, and problem solving skills
                li Ability to manage multiple projects simultaneously
                li Results-oriented, strong attention to detail
                li Excellent time management skills
                li Outstanding interpersonal &amp; communication skills, both verbal and written
              h5.margin-top-less Desired Skills and Experience
              ul
                li Experience in a Help Desk or customer service-oriented field (SaaS company preferred)
                li Familiarity with IT tools and programming languages (command line technologies, JavaScript, DB query languages)
                li 2+ years technical experience in the software industry
              p.margin-top-less
                a(href="mailto:careers@bitpay.com").white.btn.btn-blue-solid.uppercase.bold.arrow Apply Now
          
          li.accordion-navigation.padding-bottom
            a(href="#Sr_Network_Security_Engineer").block Senior Network Security Engineer
            span.small Atlanta, GA
            #Sr_Network_Security_Engineer.content
              p We are seeking backend engineers to implement security measures on our production environment.

              h5 Responsibilities
              ul
                li Develop and maintain the security procedures and best practices
                li Administer security audits and penetration testing
                li Troubleshoot network and integration issues
                li Develop, test, and operate firewalls, intrusion detection systems, enterprise anti-virus systems, and software deployment tools

              h5.margin-top-less Experience
              ul
                li 5+ years of IT Security experience
                li 2+ years experience securing Node.js and MongoDB applications in Production environments
                li Extensive experience configuring iptables (ideally on IPv6 networks as well)
                li Expertise in a Unix/Linux environment
                li Experience managing APTs (Advanced Persistent Threats) in Production environments
                li Familiarity with a cloud or hosting environment, preferably OpenStack
                li Intrusion protection (IPS) and detection (IDS), along with firewalls, proxy servers, and log aggregation technology experience
                li Proven experience with cyber-attack investigations, including:
                  ul
                    li Memory collection and analysis tools
                    li Network traffic collection and analysis tools
                    li Sandboxing other dynamic malware analysis tools
                    li Static malware reverse engineering analysis
                    li Computer, forensic analysis, Ubuntu Linux and file systems

              h5.margin-top-less Ideal Certifications
              ul
                li EnCase Certified Examiner (EnCE), Certified Fraud Examiner (CFE), Certified Ethical Hacker (CEH), Global Certified Incident Handler (GCIH), Certified Information Systems Security Professional (CISSP)
              p.margin-top-less
                a(href="mailto:careers@bitpay.com").white.btn.btn-blue-solid.uppercase.bold.arrow Apply Now

          li.accordion-navigation.padding-bottom
            a(href="#Sr_Node_Developer").block Senior Software Engineer
            span.small Atlanta, GA &amp; Buenos Aires, Argentina
            #Sr_Node_Developer.content
              p We are seeking backend engineers with extensive experience developing production-ready Node.js applications.
              h5 Responsibilities
              ul
                li Develop production environment to withstand High Security Threats
                li Address scalability, reliability, logging, and security in development

              h5.margin-top-less Requirements
              ul
                li Server-side development experience with Node.js and MongoDB
                li Experience with a version control system
                li BS in Computer Science or you've built something spectacular
                li For Buenos Aires Applicants:  Fluency in English and Spanish
              p.margin-top-less
                a(href="mailto:careers@bitpay.com").white.btn.btn-blue-solid.uppercase.bold.arrow Apply Now

          li.accordion-navigation.padding-bottom
            a(href="#Sr_Application_Security_Engineer").block Senior Application Security Engineer
            span.small Atlanta, GA
            #Sr_Application_Security_Engineer.content
              p We are seeking a Senior Application Security Engineer to perform security assessments, code reviews, and application security development.

              h5 Responsibilities
              ul
                li Integrate security tools, standards, and processes into the full software development life cycle
                li Improve deployment and development standards, and support test-driven development
                li Ensure that development and operations teams are trained with the appropriate level of security knowledge to perform their roles within best practices
                li Perform code reviews to ensure all code meets security standards

              h5.margin-top-less Requirements
              ul
                li 5+ years of IT security experience
                li 3+ years of experience in application security
                li Strong understanding of business ethics and information security
                li Proven experience with cyber security
                li 2+ years of experience with Node.js
                li Additional experience with MongoDB and/or AngularJS is preferred
                li Familiarity with a cloud or hosting environment
                li Knowledge of standard SDLC practices
              p.margin-top-less
                a(href="mailto:careers@bitpay.com").white.btn.btn-blue-solid.uppercase.bold.arrow Apply Now

        h4.margin-bottom-less.margin-top
          a(href="#internships", name="internships") Internships
        ul.accordion(data-accordion="jobs")
          li.accordion-navigation.padding-bottom
            a(href="#Developer_Intern").block Developer Internships
            span.small Atlanta, GA
            #Developer_Intern.content
              p We are seeking development interns. You will assist with various development initiatives and gain valuable experience in the crypto-finance industry.
              p.margin-top-less
                a(href="mailto:careers@bitpay.com").white.btn.btn-blue-solid.uppercase.bold.arrow Apply Now


          li.accordion-navigation.padding-bottom
            a(href="#Compliance_Intern").block Compliance Analyst
            span.small Atlanta, GA
            #Compliance_Intern.content
              p We are seeking an intern to assist in the execution of critical compliance initiatives. Minimum 30 hours per week with flexibility for additional hours.

              h5 Responsibilities Include
              ul
                li Assist team in reviewing compliance related queues and customer inquiries
                li Monitor and review merchant account details to ensure account is in good standing, operating legally, and within BitPay’s Terms of Use
                li Assist in researching various state, federal, and international laws and regulations
                li Draft reports on compliance issues
                li Assist in continuously improving BitPay’s compliance program, policies, procedures, and training materials 
                li Protect company’s confidential information by properly storing, retrieving and sharing such information with only those authorized
              
              h5.margin-top-less Requirements
              ul
                li Research, communications, analytical, organizational, and interpersonal skills 
                li General knowledge, interest, or previous experience in legal, compliance, or financial services industry 
                li Flexibility to adapt to changing priorities and events
                li Keen attention to detail
                li Willingness to learn
                li Effective problem solving skills
                li Good judgment
                li A self-starter mentality with the ability to work well under pressure 
                li Strong sense of personal accountability and ownership                
                
              p.margin-top-less
                a(href="mailto:careers@bitpay.com").white.btn.btn-blue-solid.uppercase.bold.arrow Apply Now
                

      .column.large-5#benefits
        mixin benefit(src,  name)
          li
            .h1.background-contain(style="background-image: url('/images/#{src}'); height: 2.5em;")
            span.small.text-center.block.margin-top-less #{name}

        h3.header__bottom-border-left Benefits
        p.margin-bottom-more When you join BitPay, we make sure you get all the support you need so that you feel your best at and away from work.
        ul.small-block-grid-2.no-bullet
          +benefit("equipment.svg", "The best equipment to get the job done")
          +benefit("health.svg", "Health, dental and vision benefits")
          +benefit("lunch.svg", "Complimentary catered lunch daily")
          +benefit("flexible.svg", "Flexible work hours with some telecommute")
          +benefit("bitcoin-pay.svg", "Option to take pay in bitcoin")
          +benefit("snacks.svg", "Unlimited supply of healthy snacks")
