extends ../_layouts/primary

block title
  title Terms of Use | BitPay

prepend footer
  .medium-white-fade-top

append vars
  -var legalSelected = 'Terms of Use'

block content
  include ../_includes/legal-nav
  .section
    .row
      .column.medium-3.hide-for-small-only(style="position: relative; z-index: 0")
        ul.side-nav(role="navigation" data-magellan-expedition="fixed" data-options="destination_threshold: -480; toffset_by_height: false;")
          li
            a(href="#top" data-magellan-arrival="top") Terms of Use
          li
            a(href="#the-services" data-magellan-arrival="the-services") The Services
          li
            a(href="#registration" data-magellan-arrival="registration") Registration
          li
            a(href="#your-sales" data-magellan-arrival="your-sales") Your Sales
          li
            a(href="#third-parties" data-magellan-arrival="third-parties") Third Parties
          li
            a(href="#collect-use-share" data-magellan-arrival="collect-use-share") Information
          li
            a(href="#ownership" data-magellan-arrival="ownership") Ownership
          li
            a(href="#advertising" data-magellan-arrival="advertising") Advertising
          li
            a(href="#fees-and-settlement" data-magellan-arrival="fees-and-settlement") Fees &amp; Settlement
          li
            a(href="#refunds-and-adjustments" data-magellan-arrival="refunds-and-adjustments") Refunds &amp; Adjustments
          li
            a(href="#account-termination" data-magellan-arrival="account-termination") Account Termination
          li
            a(href="#indemnification" data-magellan-arrival="indemnification") Indemnification
          li
            a(href="#no-warranties" data-magellan-arrival="no-warranties") No Warranties
          li
            a(href="#limitation-of-liability" data-magellan-arrival="limitation-of-liability") Liability
          li
            a(href="#miscellaneous" data-magellan-arrival="miscellaneous") Miscellaneous
            
      .column.medium-9(style="position: relative; z-index: 1")
        h1#top(data-magellan-destination="top") Merchant Terms of Use
        p.margin-bottom
          a(href="https://github.com/bitpay/bitpay-website/commits/master/src/about/terms.jade" target="_blank" class="external-link") Revision History
        
        p These Merchant Terms of Use (the Terms) govern your use of the products, services or any other features, technologies or functionalities (the Services) provided by BitPay, Inc. (BitPay, we, our, or us) through BitPay’s website, API or through any other means. The terms “you” and “your” refer to the merchant to which we will be providing the Services and the person signing below or otherwise agreeing to the Terms on behalf of the merchant. Please read the Terms carefully; by using the Services, you agree to the Terms and confirm that you accept them.
        
        h2#the-services(data-magellan-destination="the-services") 1. The Services

        p We are a bitcoin payment processor. We enable you to accept bitcoins as payment for goods or services, and process bitcoin payments that you receive from your customer (Purchaser). We are not a bitcoin exchange, bitcoin wallet, or a place to purchase or sell bitcoin. Our Services are only available to businesses that offer products and/or services for sale or to bona fide charitable organizations that accept donations. By using the Services, you authorize us to act as your agent so we may receive, hold and disburse funds on your behalf and to take any and all actions that we think are necessary to provide the Services and to comply with applicable law. Payment by Purchaser to BitPay will be considered the same as payment made directly to you and will extinguish the Purchaser's outstanding obligation, to the extent of the payment.

        h2#registration(data-magellan-destination="registration") 2. Registration
        
        h3 2.1 Generally
        p In order to use the Services, you must open a BitPay account. When you open an account, we will ask you for contact information such as your name, phone number, and email address. We will also ask you for information on your business, including your business’s legal name or DBA, registered address, and your company website. The information that you provide at the time of account opening must be accurate and complete and you must inform us in a timely fashion of any changes to such information. We may require additional information from you (including any person signing below or otherwise agreeing to the Terms on behalf of the merchant) to help verify your identity and assess your business risk, such as your date of birth, tax identification number, government-issued identification, or company financial statements. We may also obtain information about you from third parties, such as credit bureaus and identity verification services. We have the right to reject your account registration or to later close your BitPay account, if you do not provide us with accurate, complete, and satisfactory information.

        h3 2.2 Guarding your Password
        p You will choose a password when registering your account. You are responsible for maintaining the confidentiality of your password and account access information. You are fully responsible for all activities that occur with the use of your password or account. Please notify us immediately of any unauthorized use of your password or account or any other breach of security. If you share your password with others we will not be liable for any loss that you may incur as a result of someone else using your password or account, either with or without your knowledge. You may not allow other merchants to use your account. You may not use anyone else’s password at any time.

        h2#your-sales(data-magellan-destination="your-sales") 3. Your Sales
        
        h3#daily-transaction-volume 3.1 Daily Transaction Volume Limits
        p BitPay imposes daily and annual transaction processing limits on merchants. When you register for a BitPay account, you will be enabled to transact at the Basic Tier level. At BitPay’s discretion, and based on BitPay’s risk assessment of your business, transaction capabilities may not be enabled until additional documentation or information regarding you and your business is collected and verified. Requests to increase your processing limit will not be approved unless and until we have reviewed your documentation to our satisfaction and have confirmed the accuracy and authenticity of the information therein.

        h3 3.2 Invoices and Records
        p You must keep all records needed for fulfilling the goods or services sold to the Purchaser and providing any post-sale support to the Purchaser. If the sale of the item requires any government registration of the sale, you are responsible for such registration. BitPay is required to maintain records of all documentation and information collected for your merchant account for the duration that your account is active, and up to 5 years thereafter.

        h3 3.3 Customer Verification
        p Consistent with your local laws and regulations, you are solely responsible for obtaining any information required of those who purchase your goods or services. For instance, if applicable law prohibits a sale to persons under the age of 18 years, you must ensure that a Purchaser is at least 18 years of age. Similarly, if applicable law requires that a Purchaser’s identity be verified, you must verify the Purchaser’s identity. We will not be responsible for your failure to adequately verify your Purchasers’ identities or qualifications.

        h3#prohibited(data-magellan-destination="prohibited") 3.4 Representation and Warranties
        p Use of the Services is subject to the laws and regulations of the United States regarding the prevention of terrorist financing and anti-money laundering. You agree and acknowledge that your use of the Services would and will comport with such laws and regulations, including, without limitation, the sanctions programs administered by the Office of Foreign Assets Control of the United States Department of the Treasury.
        
        p Your use of the Services is also subject to the following important restrictions. Specifically, you represent and warrant to us that: 

        ol(type="a")
          li You are at least eighteen (18) years old or older and have the right, power and contractual capacity to agree to these Terms. 
          li Your use of the Services will not contravene any applicable international, federal, state or local law or regulation, including applicable tax laws and regulations.
          li Your use of the Services will not relate to sales of: 
            ol(type="i")
              li narcotics, research chemicals or any controlled substances; 
              li cash or cash equivalents, including items used for speculation or hedging purposes (such as derivatives), and the sale or trade of virtual currencies; 
              li items that infringe or violate any intellectual property rights such as copyrights, trademarks, trade secrets, or patents; 
              li ammunition, firearms, explosives (including fireworks), or weapons regulated under applicable law or as determined by us; or 
              li any services which compete with BitPay.
          li Your use of the Services will not relate to transactions that:
            ol(type="i")
              li show the personal information of third parties in violation of applicable law;
              li support pyramid, Ponzi, or other “get rich quick” schemes; 
              li are associated with purchases of annuities or lottery contracts, lay-away systems, banking, off-shore banking, foreign exchange, transactions to finance, investing, investment related products, or refinancing debts funded by a credit card; 
              li are associated with Money Service Business activities, as defined by the Financial Crimes Enforcement Network of the United States Department of the Treasury’ or 
              li provide credit repair or debt settlement services.
          li Your use of the Services will not involve gambling or any other activity with an entry fee and a prize, including, but not limited to casino games, sports betting, horse or greyhound racing, lottery tickets, other ventures that facilitate gambling, and sweepstakes, unless you have obtained our prior written approval and you and your customers are located exclusively in jurisdictions where such activities are permitted by law.
          li Any exceptions made to the prohibitions in this Section 3.4 (Representations and Warranties) shall be subject to internal review and only effective when expressly authorized by BitPay in writing.

        h3 3.5 Our Right to Reject
        p We reserve the right to decline to process a sale if we believe that it violates these Terms or would expose you, other merchants, Purchasers, or other parties to harm. If we reasonably suspect that your BitPay account has been used for an illegal purpose, you authorize us to share information about you, your BitPay account, and your account activity with law enforcement.

        h3 3.6 Our Right to Inspect
        p We may ask for permission to inspect your business location in connection with your use of the Services, or documentation or evidence to support specific transactions. If you refuse our request, we may suspend or terminate your BitPay account.

        h2#third-parties(data-magellan-destination="third-parties") 4. Third Parties

        h3 4.1 Your Use of Third-Party Services
        p In using the BitPay website or the Services, you may be offered services, products and promotions provided by third parties. If you decide to use these third-party services, you do so at your own risk and are solely responsible for reviewing, understanding and complying with the associated terms and conditions. We expressly disclaim any liability for the third-party services and are not responsible for the performance of the third-party services or servicers.

        h3 4.2 Security
        p We have implemented security measures designed to secure your information from accidental loss and from unauthorized access, use, alteration or disclosure. However, we cannot guarantee that unauthorized persons will never gain access to your information, and you acknowledge that you provide your information at your own risk, except as otherwise provided by applicable law.

        h2#collect-use-share(data-magellan-destination="collect-use-share") 5. How we Collect, Use and Share Information
        
        p In order to provide the Services, we may share information about you and your BitPay account with third parties, including but not limited to your bank and Purchasers.
        
        h3 5.1 Verification of Your Identity
        
        p In order to verify the information you submit via the account registration process as detailed in Section 2.1 (Generally) we may request information from various third parties, including credit bureaus and identity verification services. By accepting these Terms you authorize us to retrieve information about you by using third parties and acknowledge we may have to share the information you have previously submitted to do so. 
        
        p From time to time BitPay may engage third parties in order to assist in different aspects of the provision of our Services to you. You acknowledge and agree your use of the Services may require we share your information with these third parties who may need to review your eligibility to use the Services according to their own verification procedures. 

        h2#ownership(data-magellan-destination="ownership") 6. Our Ownership of the Services and the BitPay Website
        
        p You agree and acknowledge that we own all right, title and interest to and in the Services, the associated software, technology tools and content, the BitPay website, the content displayed on the website, and other materials produced by and related to BitPay (collectively, the BitPay IP). You are only permitted to use the Services and the BitPay IP to accept and receive payments, according to these Terms. When you accept the Terms, we grant you a personal, limited, revocable and non-transferable license to use the BitPay IP, without the right to sublicense. You shall not rent, lease, sublicense, distribute, transfer, copy, reproduce, download, display, modify or timeshare the BitPay IP or any portion thereof, or use the BitPay IP as a component of or a base for products or services prepared for commercial sale, sublicense, lease, access or distribution. You shall not prepare any derivative work based on the BitPay IP, nor shall you translate, reverse engineer, decompile or disassemble the BitPay IP.

        h2#advertising(data-magellan-destination="advertising") 7. Advertising
        
        p By written mutual consent, we may publish your corporate name, artwork, text and logo (Merchant Content) on the BitPay website and promotional materials to acknowledge you as our customer. You represent and warrant to us that you have the right to provide the Merchant Content to us, and that the use, copying, modification and publication of the Merchant Content by us: (a) will not infringe, violate or misappropriate any third party copyright, patent, trade secret or other proprietary rights, (b) will not infringe any rights of publicity or privacy, and (c) will not be defamatory or obscene or otherwise violate any law.

        h2#fees-and-settlement(data-magellan-destination="fees-and-settlement") 8. Invoices &amp; Settlement

        h3 8.1 Invoice Generation and Exchange Rate Guarantee
        p To create an invoice for your Purchaser, you may post a request to BitPay to collect a specific amount in your local currency, such as Dollars or Euros, or in bitcoin. BitPay will pull the exchange rate, where applicable, and provide the bitcoin payment instructions to you for you to display to the Purchaser. We guarantee the exchange rate to you as long as the Purchaser pays within the proper time window after the invoice is created. Invoice timeout information is clearly displayed on each BitPay invoice. While we guarantee the exchange rate as long as the Purchaser pays within such time window, you agree that you assume the volatility risk of your local currency or bitcoin, as applicable. For instance, if you ask us to collect USD $150, and the Purchaser sends the bitcoin equivalent in payment within the time window, we guarantee you will receive exactly USD $150, minus our fee if applicable. We do not, however, guarantee the value of the U.S. dollar.
        
        p An invoice is considered complete by us after the payment has six (6) bitcoin block confirmations. You have the option to inform your Purchaser earlier about the status of the invoice; please note that BitPay is not liable for settling invoices with a payment that never receives six (6) bitcoin block confirmations.  BitPay employs techniques to detect payments that are at risk of never receiving six (6) bitcoin block confirmations, however these measures do not completely eliminate the risk associated with unconfirmed payments.

        h3 8.2 Fees
        p We do not charge a processing fee on transactions in our Free payment processing plan. We do charge a service fee for merchants who have selected our Business or Enterprise plans (&ldquo;Plan Fees&rdquo;). Merchants paying Plan Fees will have these fees offset against their applicable ledger balances on a monthly basis. We reserve the right to change our fee structure and pricing. Your continued use of the Services after we notify you of any changes in our fees constitutes your acceptance of such change. Current pricing information is provided on the BitPay website at <a href="https://bitpay.com/pricing">https://bitpay.com/pricing</a>.

        h3 8.3 Methods of Settlement
        p We will verify the Purchaser’s payments over the Bitcoin peer-to-peer payment network and post the balance to your accounting ledger, according to your preference settings. The debits and credits to your accounting ledger are funds temporarily held by BitPay until settlement to your bank account can take place. You can receive a settlement in your local currency, in bitcoins, or in a mixture of both. You assume volatility risks of the currency in which you choose to settle. For example, if you choose to settle in bitcoins, then you assume the volatility risk of the bitcoin value.

        h3 8.3.1 Settlements in Local Currencies
        p Direct deposit to a bank account in a local currency is available to merchants located in certain countries. Please refer to <a href="https://bitpay.com/docs/settlement">https://bitpay.com/docs/settlement</a> for a list of those countries. If you wish to receive direct deposit settlements, you must provide us with valid bank account information and keep such information current. We will send a direct deposit to your bank account to clear out your accumulated balance each business day. Minimum settlement amounts apply; please refer to <a href="https://bitpay.com/docs/settlement">https://bitpay.com/docs/settlement</a> for information related to minimum settlement amounts and deposit frequency.

        h3 8.3.2 Your Bank Account
        p You must provide us with written notice at least one (1) business day prior to closing your bank account. If you wish to continue to receive direct deposits, you must provide us with information for a substitute bank account. You are solely liable for all fees and costs associated with your bank account and for all overdrafts. You are also liable to us for any fees that we may incur based on your provision of inaccurate information or instructions. You authorize us to initiate electronic credits to your bank account at any time, as necessary to process your transactions. We will not be liable for any delays in receipt of funds or errors in bank account entries caused by third parties.

        h3 8.3.3 Settlements in Bitcoins
        p Any bitcoin accepted by BitPay on your behalf must be settled to a bitcoin wallet selected by you. Payments in bitcoins are sent to your designated Bitcoin address, at least once per calendar day. BitPay is not liable for any losses incurred as a result of improperly reported or designated bitcoin addresses you.

        h3 8.4 Payment Exceptions
        p In certain situations when an invoice is not fully paid or overpaid, it will result in a payment exception. As the merchant, it is your responsibility to decision these payment exceptions.
        
        h4 8.4.1 Underpayments
        p Underpayments occur when the Purchaser sends less than the full bitcoin amount required to mark the invoice as fully paid. Since the invoice is not fully paid or complete, the funds do not get applied to the merchant ledger. It is the merchant’s responsibility to reach out to BitPay and request that we either adjust the price of the invoice to match the payment amount, which will allow the payment to be applied and credited to the ledger, or provide the Purchaser’s refund bitcoin address so that we may return the funds. If neither of these steps are taken, the invoice will stay in a partially paid state until completed.

        h4 8.4.2 Overpayments
        p Overpayments occur when an invoice receives excess funds. In cases such as this, this invoice passes through the state of being paid in full and is marked as an overpayment. Since there were enough funds to mark the invoice as paid in full, those funds are applied to the merchant ledger. However, the excess funds are not applied and require action. As a best practice, we suggest that you reach out to the Purchaser to obtain a refund bitcoin address and request that BitPay refund the overpaid funds to the Purchaser. The Purchaser also has the ability to request a refund of the overpaid portion of the payment directly from the invoice. As the merchant, you also have the ability to request that the overpaid portion of the payment be applied to your merchant account, typically in cases where you are providing a trackable service and the additional funds can be easily refunded to the Purchaser.
        
        h4 8.4.3 Orphan Payments
        p occur when a transaction is received outside the time window referenced in Section 8.1 (Invoice Generation and Exchange Rate Guarantee). Any payments sent to the expired bitcoin address will show up in BitPay’s system as an orphan payment. For more information or to resolve orphaned payments, either you or the Purchaser will need to reach out to <a href="mailto:support@bitpay.com">support@bitpay.com</a> with the appropriate information.

        h3 8.5 Certain Deferrals
        p If we need to conduct an investigation or resolve any pending dispute related to your BitPay account, we may delay settlement or restrict access to your funds while we do so. Additionally, we may delay settlement or restrict access to your funds if required to do so by law, court order or at the request of law enforcement.
        
        h3 8.6 Account Information
        p You will have access to account information detailing your ledger and transaction and settlement history through your merchant account. Should you identify an error, you must notify us within thirty (30) calendar days of the ledger entry posting.

        h2#refunds-and-adjustments(data-magellan-destination="refunds-and-adjustments") 9. Refunds and Adjustments

        h3 9.1 Refund Procedures
        p BitPay can facilitate refunds on your behalf. You can decide to issue a partial refund or refund the full amount of the initial purchase. You can also decide whether to issue the refund in your local currency or in bitcoins. If you do not have enough funds in your BitPay account to cover the refund, BitPay may require you to deposit bitcoins into your BitPay account to cover the refund to the Purchaser. Any required currency conversion during the refund process will be calculated at a spot rate determined by BitPay, following the guidelines found here: <a href="https://bitpay.com/bitcoin-exchange-rates">https://bitpay.com/bitcoin-exchange-rates</a>.

        h3 9.2 Disclosure of Your Refund Policy
        p BitPay is not responsible for Merchant refund policies. We do suggest Merchants have a clear refund policy for their customers (including, if applicable, &ldquo;no refunds are allowed as all sales are final&rdquo;). If refunds are permitted, we recommend you refund the amount of the initial purchase in the currency in which the item was priced.

        h3 9.3 Purchaser Complaints
        p Purchasers filing complaints with BitPay about a purchase will be forwarded to you for resolution. BitPay reserves the right to terminate accounts which receive excessive complaints.

        h2#account-termination(data-magellan-destination="account-termination") 10. Account Termination

        h3 10.1 Your Right to Close Your Account
        p These Terms apply only for as long as you use the Services. Once you cease using the Services, these Terms no longer apply, subject to Section 14.11 (Survival). You may close your BitPay account at any time. You will still be obligated to us for any fees incurred, if applicable, before the closure and we will remit to you funds not yet paid to you and associated with pre-closure sales. If your account balance is below our documented minimum transfer amount, you may be responsible for any applicable transactions fees that may be incurred in the funds transfer.

        h3 10.2 Our Right to Close or Suspend Your Account
        p We may terminate your account, at our discretion, upon notice to you via email or phone communication. We may also suspend your access to the Services if we suspect that you have failed to comply with these Terms, pose an unacceptable fraud risk to us, or if you provide any false, incomplete, inaccurate or misleading information. We will not be liable to you for any losses that you incur in connection with our closure or suspension of your account.

        h3 10.3 Effect of Account Closure
        p If your BitPay account is closed, you agree: (a) to continue to be bound by these Terms, as required by Section 14.11 (Survival) (b) to immediately stop using the Services, (c) that the license provided under these Terms shall end, (d) that we reserve the right (but have no obligation) to delete all of your information and account data stored on our servers, and (e) that we shall not be liable to you or any third party for termination of access to the Services or for deletion of your information or account data.

        h2#indemnification(data-magellan-destination="indemnification") 11. Indemnification
        p You agree to indemnify BitPay, its affiliated and related entities, and any of its officers, directors, employees and agents from and against any claims, costs, losses, liabilities, damages, expenses and judgments of any and every kind (including, without limitation, costs, expenses, and reasonable attorneys’ fees) arising out of, relating to, or incurred in connection with any claim, complaint, action, audit, investigation, inquiry, or other proceeding instituted by a person or entity that arises or relates to: (a) any actual or alleged breach of your representations, warranties, or obligations set forth in these Terms; (b) your wrongful or improper use of the Services; (c) the products or services sold by you through the Services, including but not limited to any claims for false advertising, product defects, personal injury, death or property damage; or (d) any other party’s access or use of the Services with your account information.

        h2#no-warranties(data-magellan-destination="no-warranties") 12. No Warranties
        p WE PROVIDE THE SERVICES ON AN “AS IS” AND “AS AVAILABLE” BASIS, AND YOUR USE OF THE SERVICES IS AT YOUR OWN RISK. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, WE PROVIDE THE SERVICES WITHOUT WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED (INCLUDING, WITHOUT LIMITATION, WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT). WITHOUT LIMITING THE FOREGOING, WE DO NOT WARRANT THAT THE SERVICES (AND OUR WEBSITE): WILL OPERATE ERROR-FREE OR THAT DEFECTS OR ERRORS WILL BE CORRECTED; WILL MEET YOUR REQUIREMENTS OR WILL BE AVAILABLE, UNINTERRUPTED OR SECURE AT ANY PARTICULAR TIME OR LOCATION; ARE FREE FROM VIRUSES OR OTHER HARMFUL CONTENT. WE DO NOT ENDORSE, WARRANT, GUARANTEE OR ASSUME RESPONSIBILITY FOR ANY PRODUCT OR SERVICE OFFERED OR ADVERTISED BY A THIRD PARTY THROUGH THE SERVICES OR THROUGH OUR WEBSITE, AND WE WILL NOT BE A PARTY TO NOR MONITOR ANY INTERACTIONS BETWEEN YOU AND THIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES.

        h2#limitation-of-liability(data-magellan-destination="limitation-of-liability") 13. Limitation of Liability
        p IN NO EVENT WILL WE BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, EXEMPLARY OR PUNITIVE DAMAGES OR ANY LOSS, THEFT, DISAPPEARANCE, OR DAMAGES FOR LOST PROFITS, LOST REVENUES, LOST DATA OR OTHER INTANGIBLE LOSSES THAT RESULT FROM THE USE OF, INABILITY TO USE, OR UNAVAILABILITY OF THE SERVICES, REGARDLESS OF THE FORM OF ACTION AND WHETHER OR NOT WE KNEW THAT SUCH DAMAGE MAY HAVE BEEN INCURRED. IN NO EVENT WILL WE BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY DAMAGE, LOSS OR INJURY RESULTING FROM HACKING, TAMPERING, VIRUS TRANSMISSION OR OTHER UNAUTHORIZED ACCESS OR USE OF THE SERVICES, YOUR BITPAY ACCOUNT, OR ANY INFORMATION CONTAINED THEREIN. IN NO EVENT WILL OUR LIABILITY FOR ANY DAMAGES ARISING IN CONNECTION WITH THE SERVICES EXCEED THE FEES EARNED BY US IN CONNECTION WITH YOUR USE OF THE SERVICES DURING THE 6 MONTH PERIOD IMMEDIATELY PRECEDING THE EVENT GIVING RISE TO THE CLAIM FOR LIABILITY. THE FOREGOING LIMITATIONS OF LIABILITY SHALL APPLY TO THE FULLEST EXTENT PERMITTED BY LAW IN THE APPLICABLE JURISDICTION.

        h2#miscellaneous(data-magellan-destination="miscellaneous") 14. Miscellaneous

        h3 14.1 Taxes
        p You are responsible for determining any and all taxes assessed, incurred, or required to be collected, paid, or withheld for any reason in connection your use of our software and services (Taxes). You also are solely responsible for collecting, withholding, reporting, and remitting correct Taxes to the appropriate tax authority. We are not obligated to, nor will we determine whether Taxes apply, or calculate, collect, report, or remit any Taxes to any tax authority arising from any transaction.
        
        p If in a given calendar year you receive (i) more than $20,000 in gross amount of payments and (ii) more than 200 payments, BitPay will report annually to the Internal Revenue Service, as required by law, your name, address, tax identification number (such as a social security number, or employer identification number), the total dollar amount of the payments you receive in a calendar year and the total dollar amount of the payments you receive for each month in a calendar year.

        h3 14.2 Privacy Policy
        p Please see our <a href="/about/privacy">Privacy Policy</a> for information regarding how we collect and use information. The Privacy Policy is part of these Terms, so please make sure that you read it.

        h3 14.3 Assignment
        p You may not transfer or assign these Terms, or any rights granted by these Terms. You agree and acknowledge that we may assign or transfer these Terms.

        h3 14.4 Severability
        p Should any provision of these Terms be determined to be invalid or unenforceable under any law, rule, or regulation, such determination will not affect the validity or enforceability of any other provision of this Agreement.

        h3 14.5 Waivers
        p Our failure to assert any right or provision in these Terms shall not constitute a waiver of such right or provision, and no waiver of any term shall be deemed a further or continuing waiver of such or other term.

        h3 14.6 Entire Agreement
        p These Terms, including the Privacy Policy referenced herein, represent the entire understanding between you and us with respect to the matters discussed. Headings are included for convenience only, and shall not be considered in interpreting these Terms.

        h3 14.7 Notices
        p You agree to accept communications from us in an electronic format, and agree that all terms, conditions, agreements, notices, disclosures or other communications that we provide to you electronically will be considered to be &ldquo;in writing&rdquo;.

        h3 14.8 Governing Law; Arbitration
        p These Terms will be governed by and construed in accordance with the laws of the State of Delaware without reference to conflict of law or choice of law provisions, and applicable federal law (including the Federal Arbitration Act). If a disagreement or dispute in any way involves the Services or these Terms and cannot be resolved between you and us with reasonable effort, the disagreement or dispute shall be resolved exclusively by final and binding administration by the American Arbitration Association (AAA), and will be conducted before a single arbiter pursuant to the applicable Rules and Procedures established by the AAA. You agree that the arbitration shall be held in the State of Georgia, or at any other location that is mutually agreed upon by you and us. You agree that the arbiter will apply the laws of the State of Delaware consistent with the Federal Arbitration Act, and will honor and agree to all applicable statutes of limitation. You agree that, unless prohibited by law, there shall be no authority for any claims to be arbitrated on a class or representative basis, and arbitration will only decide a dispute between you and us. Arbitration proceedings must be initiated within one (1) year after the disagreement or dispute arises. If any part of this Arbitration clause is later deemed invalid as a matter of law, then the remaining portions of this section shall remain in effect, except that in no case shall there be a class arbitration.

        h3 14.9 Amendment
        p We may update or change these Terms from time to time by posting the amended Terms on our website. Such updates or changes shall be effective at the time of posting. If you continue to use the Services after we provide notice of such changes, your continued use constitutes an acceptance of the amended Terms and an agreement to be bound by them. If you do not agree to the amended Terms, you must close your BitPay account per the termination section of this agreement and discontinue your use of the Services.

        h3 14.10 Force Majeure
        p Neither you nor we will be liable for delays in processing or other non-performance caused by such events as fires, telecommunications, utility, or power failures, equipment failures, labor strife, riots, war, nonperformance of our vendors or suppliers, acts of God, or other causes over which the respective party has no reasonable control; provided that the party has procedures reasonably suited to avoid the effects of such acts.

        h3 14.11 Survival
        p The provisions of Sections 3.4 (Representations and Warranties), 4.2 (Security), 6 (Our Ownership of the Services and the BitPay Website), 7 (Advertising), 8.5 (Certain Deferrals), 11 (Indemnification), 12 (No Warranties), 13 (Limitation of Liability), and 14.8 (Governing Law; Arbitration) shall survive the termination of these Terms.
