extends ../_layouts/primary

block title
  title Terms of Use | BitPay

block content
  .row
    .column
      h1 Merchant Terms of Use
      p.italic Version 3 (updated Aug 6, 2014)

  .row
    .column.medium-3.medium-push-9
      ul.side-nav(role="navigation")
        li
          a(href="#the-services") The Services
        li
          a(href="#registration") Registration
        li
          a(href="#your-sales") Your Sales
        li
          a(href="#third-parties") Third Parties
        li
          a(href="#collect-use-share") Information
        li
          a(href="#our-ownership") Ownership
        li
          a(href="#advertising") Advertising
        li
          a(href="#fees-and-settlement") Fees &amp; Settlement
        li
          a(href="#refunds-and-adjustments") Refunds &amp; Adjustments
        li
          a(href="#account-termination") Account Termination
        li
          a(href="#indemnification") Indemnification
        li
          a(href="#no-warranties") No Warranties
        li
          a(href="#limitation-of-liability") Liability
        li
          a(href="#miscellaneous") Miscellaneous      
          
    .column.medium-9.medium-pull-3      
      p These Merchant Terms of Use (the Terms) govern your use of the products, services or any other features, technologies or functionalities (the Services) provided by BitPay, Inc. (BitPay, we, our, or us) through BitPay’s website, API or through any other means. You and your mean the merchant to which we will be providing the Services and the person signing below or otherwise agreeing to the Terms on behalf of the merchant. Please read the Terms carefully; by using the Services, you agree to the Terms and confirm that you accept them.
      
      h3#the-services 1. The Services

      p We are a Bitcoin payment processor—we enable you to accept Bitcoins as payment for goods or services, and process Bitcoin payments that you receive from your customers. We are not a Bitcoin exchange, Bitcoin wallet, or a place to purchase Bitcoin. By using the Services, you authorize us to receive, hold and disburse funds on your behalf and to take any and all actions that we think are necessary or desirable to provide the Services and to comply with applicable law.

      h3#registration 2. Registration
      
      h4 2.1 Generally
      p In order to use the Services, you must open a BitPay account. When you open an account, we will ask you for contact information such as, for instance, your name, mailing address, phone number, email address, and website. The information that you provide at the time of account opening must be accurate and complete, and you must inform us in a timely fashion of any changes to such information. We may require additional information about you (including any person signing below or otherwise agreeing to the Terms on behalf of the merchant) such as, for instance, your date of birth, tax identification number or government-issued identification, and we may also obtain information about you from third parties, such as credit bureaus and identity verification services. We have the right to reject your account registration, or to later close your BitPay account, if you do not provide us with accurate, complete and satisfactory information.

      h5 (a) Merchant Tiers
      p BitPay imposes daily transaction processing limits on merchants. When you register for a BitPay account, you will be required to select the limit (the Tier) that will apply to your BitPay account, and to provide us with the documentation necessary to qualify for that Tier. A description of the Tiers, as well as a list of the documentation required to qualify for each, is available on our website. If your business is a High Risk category, as determined by BitPay, you will be required to qualify for the “Trusted” Tier in order to use the Services. We will not begin to process payments on your behalf until we have reviewed the documentation that you provide, in accordance with applicable law. If you wish to change to a Tier with a higher limit, you must provide us with the additional required documentation. We will not approve your request to change Tiers and permit you a greater processing volume unless and until we have reviewed your documentation to our satisfaction. Please also refer to <a href="#daily-transaction-volume">Section 3.1, Daily Transaction Volume; Tiers.</a>

      h4 2.2 Guarding your Password
      p You will choose a password when registering. You are responsible for maintaining the confidentiality of your password and account. You are fully responsible for all activities that occur using your password or account. Please notify us immediately of any unauthorized use of your password or account or any other breach of security. We will not be liable for any loss that you may incur as a result of someone else using your password or account, either with or without your knowledge. You may not use anyone else’s password at any time.

      h4 2.3 Prohibited Accounts
      p Use of the Services is subject to the laws and regulations of the United States regarding the prevention of terrorist financing and anti-money laundering. You agree and acknowledge that your use of the Services would and will comport with such laws and regulations, including, without limitation, the sanctions programs administered by the Office of Foreign Assets Control of the United States Department of the Treasury.

      h3#your-sales 3. Your Sales
      
      h4#daily-transaction-volume 3.1 Daily Transaction Volume; Tiers
      p You agree to adhere to the transaction processing limits applicable to your Tier. You agree that, if you exceed that limit, BitPay has the right to hold the over-the-limit funds until you have provided us with the additional documentation required to qualify for the next Tier, and until we have had the opportunity to review such documents. We will take additional measures if you exceed your limit. If you are a “Trusted” merchant, you may create an unlimited value of invoices (see Section 8.1), although you will only receive payments from us up to the specified limit. If you are not a “Trusted” merchant, you may not create a value of invoices that exceeds your specified limit.

      h4 3.2 Invoices and Records
      p You must keep all records needed for fulfilling the merchandise to the purchaser and providing any post-sale support to the purchaser. If the sale of the item requires any government registration of the sale, you are responsible for such registration.

      h4 3.3 Customer Verification
      p You are solely responsible for obtaining any information required of those who purchase your goods or services. For instance, if applicable law prohibits a sale to persons under the age of 18 years, you must ensure that a purchaser is at least 18 years of age. Similarly, if applicable law requires that a purchaser’s identity be verified, you must verify the purchaser’s identity. We will not be responsible for your failure to adequately verify your purchasers’ identities or qualifications.

      h4#prohibited 3.4 Representation and Warranties
      p Your use of the Services is subject to several important restrictions. Specifically, you represent and warrant to us that:
      p (a) Your use of the Services will not contravene any applicable international, federal, state or local law or regulation, including applicable tax laws and regulations, and that your use of the Services will not violate the laws of the United States of America.
      p (b) Your use of the Services will not relate to sales of (i) narcotics, research chemicals or any controlled substances, (ii) cash or cash equivalents, including derivatives, (iii) items that infringe or violate any copyright or trademark,(iv) ammunition, firearms, explosives, or weapons regulated under applicable law, or (v) any services which compete with BitPay.
      p (c) Your use of the Services will not relate to transactions that (i) show the personal information of third parties in violation of applicable law, (ii) support pyramid or Ponzi schemes, matrix programs or other “get rich quick” schemes,(iii) are associated with purchases of annuities or lottery contracts, lay-away systems,￼banking, off-shore banking, foreign exchange or transactions to finance investing or investment related products, or refinancing debts funded by a credit card,(iv) are associated with Money Service Business activities, as defined by the Financial Crimes Enforcement Network of the United States Department of the Treasury, or (v) provide credit repair or debt settlement services.
      p (d) Your use of the Services will not involve gambling or any other activity with an entry fee and a prize, including, but not limited to casino games, sports betting, horse or greyhound racing, lottery tickets, other ventures that facilitate gambling, and sweepstakes, unless you have obtained our prior approval and you and your customers are located exclusively in jurisdictions where such activities are permitted by law.
      p (e) You have the right, power and ability to enter into and perform under these Terms.

      h4 3.5 Our Right to Reject
      p We reserve the right to decline to process a sale if we believe that it violates these Terms or would expose you, other merchants, purchasers, or other parties to harm. If we reasonably suspect that your BitPay account has been used for an illegal purpose, you authorize us to share information about you, your BitPay account, and your account activity with law enforcement.

      h4 3.6 Our Right to Inspect
      p We may ask for permission to inspect your business location, in connection with your use of the Services or specific transactions. If you refuse our request, we may suspend or terminate your BitPay account.

      h3#third-parties 4. Third Parties

      h4 4.1 Your Use of Third-Party Services
      p In using the BitPay website or the Services, you may be offered services, products and promotions provided by third parties. If you decide to use these third-party services, you do so at your own risk and are solely responsible for reviewing, understanding and complying with the associated terms and conditions. We expressly disclaim any liability for the third-party services and are not responsible for the performance of the third-party services or servicers.

      h4 4.2 Security
      p We have implemented security measures designed to secure your information from accidental loss and from unauthorized access, use, alteration or disclosure. However, we cannot guarantee that unauthorized persons will never gain access to your information, and you acknowledge that you provide your information at your own risk, except as otherwise provided by applicable law.

      h3#collect-use-share 5. How we Collect, Use and Share Information
      
      p In order to provide the Services, we may share information about you and your BitPay account with third parties, including but not limited to your bank and purchasers.

      h3#our-ownership 6. Our Ownership of the Services and the BitPay Website
      
      p You agree and acknowledge that we own all right, title and interest to and in the Services, the associated software, technology tools and content, the BitPay website, the content displayed on the website, and other materials produced by and related to BitPay (collectively, the BitPay IP). You are only permitted to use the Services and the BitPay IP to accept and receive payments, according to these Terms. When you accept the Terms, we grant you a personal, limited, revocable and non-transferable license to use the BitPay IP, without the right to sublicense. You shall not rent, lease, sublicense, distribute, transfer, copy, reproduce, download, display, modify or timeshare the BitPay IP or any portion thereof, or use the BitPay IP as a component of or a base for products or services prepared for commercial sale, sublicense, lease, access or distribution. You shall not prepare any derivative work based on the Company IP, nor shall you translate, reverse engineer, decompile or disassemble the Company IP.

      h3#advertising 7. Advertising
      
      p By mutual consent, we may publish your corporate name, artwork, text and logo (Merchant Content) on the BitPay website and promotional materials to acknowledge you as our customer. You represent and warrant to us that you have the right to provide the Merchant Content to us, and that the use, copying, modification and publication of the Merchant Content by us: (a) will not infringe, violate or misappropriate any third party copyright, patent, trade secret or other proprietary rights, (b) will not infringe any rights of publicity or privacy, and (c) will not be defamatory or obscene or otherwise violate any law.

      h3#fees-and-settlement 8. Fees &amp; Settlement

      h4 8.1 Invoice Generation and Exchange Rate Guarantee
      p To create an invoice, you may post a request to BitPay to collect a specific amount in your local currency, such as dollars or euros, or in Bitcoin. BitPay will pull the exchange rate and provide the Bitcoin payment instructions to the purchaser. We guarantee the exchange rate to you as long as the purchaser pays within the proper time window after the invoice is created. Invoice timeout information is clearly displayed on each BitPay invoice. While we guarantee the exchange rate as long as the purchaser pays within such time window, you agree that you assume the volatility risk of your local currency or Bitcoin, as applicable. For instance, if you ask us to collect USD $150, and the purchaser sends the payment within the time window, we guarantee you will receive exactly USD $150, minus our fee, but do not guarantee the value of the U.S. dollar.

      h4 8.2 Fees
      p We do not charge a processing fee on transactions in our basic payment processing plan. We do charge a processing fee on transactions in our Business and Enterprise Plans.  The proceeds payable to you will equal the amount of the invoice (assuming that we have received the full amount of the invoice from the purchaser), unless you agree to accept less than the amount of the invoice, minus the processing fee.  We reserve the right to change our fee structure and pricing. Your continued use of the Services after we notify you of any changes in our fees constitutes your acceptance of such change. Current pricing information is provided on the BitPay website at <a href="https://bitpay.com/pricing">https://bitpay.com/pricing</a>

      h4 8.3 Methods of Settlement
      p We will clear the payments over the Bitcoin peer-to- peer payment network and post the balance to your accounting ledger, according to your preference settings. The debits and credits to your accounting ledger are funds temporarily held by BitPay until settlement to your bank account can take place. You can receive a settlement in your local currency, in Bitcoins, or in a mixture of both. You assume volatility risks of the currency in which you choose to be settled. If you choose to keep bitcoins, then you assume the volatility risk of the bitcoin value.

      h4 8.4 Settlements in Local Currencies
      p Direct deposit to a bank account in a local currency is available to merchants located in certain countries.  Please refer to Please refer to <a href="https://bitpay.com/bitcoin-direct-deposit">https://bitpay.com/bitcoin-direct-deposit</a> for a list of those countries.  If you wish to receive direct deposit, you must provide us with valid bank account information and keep such information current.  We will send a direct deposit to your bank account to clear out your accumulated balance.  Minimum settlement amounts apply; please refer to <a href="https://bitpay.com/bitcoin-direct-deposit">https://bitpay.com/bitcoin-direct-deposit</a> for information related to minimum settlement amounts and deposit frequency.

      h4 8.5 Your Bank Account
      p You must provide us with written notice at least 1 business day prior to closing your bank account. If you wish to continue to receive direct deposits, you must provide us with information for a substitute bank account. You are solely liable for all fees and costs associated with your bank account and for all overdrafts. You authorize us to initiate electronic credits to your bank account at any time, as necessary to process your transactions. We will not be liable for any delays in receipt of funds or errors in bank account entries caused by third parties.

      h4 8.6 Settlements in Bitcoins
      p Payments in Bitcoins are sent to the Bitcoin address of your choice, at least once per calendar day.  BitPay does not operate a Bitcoin wallet and funds must be moved to your wallet address.

      h4 8.7 Certain Deferrals
      p If we need to conduct an investigation or resolve any pending dispute related to your BitPay account, we may delay settlement or restrict access to your funds while we do so. Additionally, we may delay settlement or restrict access to your funds if required to do so by law, court order or at the request of law enforcement.
      
      h4 8.8 Account Statements
      p On demand, we will provide you with a statement detailing your account transaction and settlement history.  Should you identify an error in the statement, you must notify us of such error within 30 calendar days.

      h3#refunds-and-adjustments 9. Refunds and Adjustments

      h4 9.1 Refund Procedures
      p In the event that you wish to issue a refund to a purchaser, BitPay can handle this. You can decide to issue a partial refund or the full amount of the initial purchase. You can also decide whether to issue the original amount of the invoice in your local currency or in the number of Bitcoins paid. If you do not have enough funds in your BitPay account to cover the refund, BitPay may require you to deposit Bitcoins into your BitPay account to cover the refund to the purchaser. Any required currency conversion during the refund process will be calculated at a spot rate determined by BitPay, following the guidelines found here: <a href="https://bitpay.com/bitcoin-exchange-rates" data-no-instant>https://bitpay.com/bitcoin-exchange-rates</a>.

      h4 9.2 Disclosure of Your Refund Policy
      p Merchants are required to have a clear refund policy, and to disclose that policy to their customers.  We recommend you refund the amount of the initial purchase in the currency in which the item was priced.

      h4 9.3 Purchaser Complaints
      p Purchasers filing complaints about a purchase will be forwarded to you for resolution.  BitPay reserves the right to terminate accounts which receive excessive complaints.

      h3#account-termination 10. Account Termination

      h4 10.1 Your Right to Close Your Account
      p You may close your BitPay account at any time. You will still be obligated to us for any fees incurred, if applicable, before the closure and we will remit to you funds not yet paid to you and associated with pre- closure sales. If your account balance is below our documented minimum transfer amount, you may be responsible for any applicable transactions fees that may be incurred in the funds transfer.

      h4 10.2 Our Right to Close or Suspend Your Account
      p We may terminate these Terms and close your account, at our discretion, upon notice to you via email or phone communication.  We may also suspend your access to the Services if we suspect that you have failed to comply with these Terms, pose an unacceptable fraud risk to us, or if you provide any false, incomplete, inaccurate or misleading information. We will not be liable to you for any losses that you incur in connection with our closure or suspension of your account.

      h4 10.3 Effect of Account Closure
      p If your BitPay account is closed, you agree: (a) to continue to be bound by these Terms, (b) to immediately stop using the Services, (c) that the license provided under these Terms shall end, (d) that we reserve the right (but have no obligation) to delete all of your information and account data stored on our servers, and (e) that we shall not be liable to you or any third party for termination of access to the Services or for deletion of your information or account data.

      h3#indemnification 11. Indemnification
      p You agree to indemnify BitPay, its affiliated and related entities, and any of its officers, directors, employees and agents from and against any claims, costs, losses, liabilities, damages, expenses and judgments of any and every kind (including, without limitation, costs, expenses, and reasonable attorneys’ fees) arising out of, relating to, or incurred in connection with any claim, complaint, action, audit, investigation, inquiry, or other proceeding instituted by a person or entity that arises or relates to: (a) any actual or alleged breach of your representations, warranties, or obligations set forth in these Terms; (b) your wrongful or improper use of the Services; (c) the products or services sold by you through the Services, including but not limited to any claims for false advertising, product defects, personal injury, death or property damage; or (d) any other party’s access or use of the Services with your account information.

      h3#no-warranties 12. No Warranties
      p WE PROVIDE THE SERVICES ON AN “AS IS” AND “AS AVAILABLE” BASIS, AND YOUR USE OF THE SERVICES IS AT YOUR OWN RISK. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, WE PROVIDE THE SERVICES WITHOUT WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED (INCLUDING, WITHOUT LIMITATION, WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT). WITHOUT LIMITING THE FOREGOING, WE DO NOT WARRANT THAT THE SERVICES (AND OUR WEBSITE): WILL OPERATE ERROR- FREE OR THAT DEFECTS OR ERRORS WILL BE CORRECTED; WILL MEET YOUR REQUIREMENTS OR WILL BE AVAILABLE, UNINTERRUPTED OR SECURE AT ANY PARTICULAR TIME OR LOCATION; ARE FREE FROM VIRUSES OR OTHER HARMFUL CONTENT. WE DO NOT ENDORESE, WARRANT, GURANTEE OR ASSUME RESPONSIBILITY FOR ANY PRODUCT OR SERVCE OFFERED OR ADVERTISED BY A THIRD PARTY THROUGH THE SERVICES OR THROUGH OUR WEBSITE, AND WE WILL NOT BE A PARTY TO NOR MONITOR ANY INTERACTIONS BETWEEN YOU AND THIRD- PARTY PROVIDERS OF PRODUCTS OR SERVICES.

      h3#limitation-of-liability 13. Limitation of Liability
      p IN NO EVENT WILL WE BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, EXEMPLARY OR PUNITIVE DAMAGES OR ANY LOSS, THEFT, DISAPPEARANCE, OR DAMAGES FOR LOST PROFITS, LOST REVENUES, LOST DATA OR OTHER INTANGIBLE LOSSES THAT RESULT FROM THE USE OF, INABILITY TO USE, OR UNAVAILABILITY OF THE SERVICES, REGARDLESS OF THE FORM OF ACTION AND WHETHER OR NOT WE KNEW THAT SUCH DAMAGE MAY HAVE BEEN INCURRED. IN NO EVENT WILL WE BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY DAMAGE, LOSS OR INJURY RESULTING FROM HACKING, TAMPERING, VIRUS TRANSMISSION OR OTHER UNAUTHORIZED ACCESS OR USE OF THE SERVICES, YOUR BITPAY ACCOUNT, OR ANY INFORMATION CONTAINED THEREIN. IN NO EVENT WILL OUR LIABILITY FOR ANY DAMAGES ARISING IN CONNECTION WITH THE SERVICES EXCEED THE FEES EARNED BY US IN CONNECTION WITH YOUR USE OF THE SERVICES DURING THE 6 MONTH PERIOD IMMEDIATELY PRECEDING THE EVENT GIVING RISE TO THE CLAIM FOR LIABILITY. THE FOREGOING LIMITATIONS OF LIABILITY SHALL APPLY TO THE FULLEST EXTENT PERMITTED BY LAW IN THE APPLICABLE JURISDICTION.

      h3#miscellaneous 14. Miscellaneous

      h4 14.1 Taxes
      p You are responsible for determining any and all taxes assessed, incurred, or required to be collected, paid, or withheld for any reason in connection your use of our software and services (Taxes). You also are solely responsible for collecting, withholding, reporting, and remitting correct Taxes to the appropriate tax authority. We are not obligated to, nor will we determine whether Taxes apply, or calculate, collect, report, or remit any Taxes to any tax authority arising from any transaction.
      p If in a given calendar year you receive (i) more than $20,000 in gross amount of payments and (ii) more than 200 payments, BitPay will report annually to the Internal Revenue Service, as required by law, your name, address, tax identification number (such as a social security number, or employer identification number), the total dollar amount of the payments you receive in a calendar year and the total dollar amount of the payments you receive for each month in a calendar year.

      h4 14.2 Privacy Policy
      p Please see our <a href="/about/privacy">Privacy Policy</a> for information regarding how we collect and use information.  The Privacy Policy is part of these Terms, so please make sure that you read it.

      h4 14.3 Assignment
      p You may not transfer or assign these Terms, or any rights granted by these Terms.  You agree and acknowledge that we may assign or transfer these Terms.

      h4 14.4 Severability
      p Should any provision of these Terms be determined to be invalid or unenforceable under any law, rule, or regulation, such determination will not affect the validity or enforceability of any other provision of this Agreement.

      h4 14.5 Waivers
      p Our failure to assert any right or provision in these Terms shall not constitute a waiver of such right or provision, and no waiver of any term shall be deemed a further or continuing waiver of such or other term.

      h4 14.6 Entire Agreement
      p These Terms, including the Privacy Policy referenced herein, represent the entire understanding between us and you with respect to the matters discussed.  Headings are included for convenience only, and shall not be considered in interpreting these Terms.

      h4 14.7 Notices
      p You agree to accept communications from us in an electronic format, and agree that all terms, conditions, agreements, notices, disclosures or other communications that we provide to you electronically will be considered to be “in writing.”

      h4 14.8 Governing Law; Arbitration
      p These Terms will be governed by and construed in accordance with the laws of the State of Delaware without reference to conflict of law or choice of law provisions, and applicable federal law (including the Federal Arbitration Act). If a disagreement or dispute in any way involves the Services or these Terms and cannot be resolved between you and us with reasonable effort, the disagreement or dispute shall be resolved exclusively by final and binding administration by the American Arbitration Association (AAA), and will be conducted before a single arbiter pursuant to the applicable Rules and Procedures established by the AAA. You agree that the arbitration shall be held in the State of Georgia, or at any other location that is mutually agreed upon by you and us. You agree that the arbiter will apply the laws of the State of Georgia consistent with the Federal Arbitration Act, and will honor and agree to all applicable statutes of limitation. You agree that, unless prohibited by law, there shall be no authority for any claims to be arbitrated on a class or representative basis, and arbitration will only decide a dispute between you and us. Arbitration proceedings must be initiated within 1 year after the disagreement or dispute arises. If any part of this Arbitration clause is later deemed invalid as a matter of law, then the remaining portions of this section shall remain in effect, except that in no case shall there be a class arbitration.

      h4 14.9 Amendment
      p We may update or change these Terms from time to time by posting the amended Terms on our website. Such updates or changes shall be effective at the time of posting. If you continue to use the Services after we provide notice of such changes, your continued use constitutes an acceptance of the amended Terms and an agreement to be bound by them. If you do not agree to the amended Terms, you must close your BitPay account per the termination section of this agreement and discontinue your use of the Services.

      h4 14.10 Force Majeure
      p Neither you nor we will be liable for delays in processing or other nonperformance caused by such events as fires, telecommunications, utility, or power failures, equipment failures, labor strife, riots, war, nonperformance of our vendors or suppliers, acts of God, or other causes over which the respective party has no reasonable control; provided that the party has procedures reasonably suited to avoid the effects of such acts.

      h4 14.11 Survival
      p The provisions of Sections 2.2, 3.3, 3.4, 4.2, 5, 6, 7, 8.1, 8.5, 8.7, 8.8, 9 (including all subsections), 11, 12, 13, and 14.7 shall survive the termination of these Terms.
