extends _layouts/primary

block title
  title Oops... We couldn't find what you were looking for! | BitPay
  
block content
  .section
    .row
      .column.large-10.large-offset-1.text-center
        h1.fade-in-up Oops... We couldn't find what you were looking for!
        p.lead.fade-in-up.delay-1 We're sorry, we hate when that happens.
        a(href="/").white.btn.btn-blue-solid.uppercase.bold.btn-margin.fade-in-up.delay-1 Go Home
