extends _layouts/primary

block title
  title Enterprise | BitPay

append vars
  -var tourSelected = 'Enterprise'
  -var pageSelected = 'Tour'

block content
  include _includes/tour-nav
  .section.background-cover(style="background-image: url('/images/star_background.jpg')")
    .row.fade-in
      .column.large-10.large-offset-1.text-center.text-shadow
        h1.white Bitcoin, enterprise-ready.
        h4.white.subheader.medium-8.medium-offset-2 Get access to the most powerful Bitcoin infrastructure on the planet.
        .row
          .column.medium-8.medium-offset-2.text-center
            a(href="mailto:sales@bitpay.com").white.btn.btn-blue-solid.uppercase.bold Request Demo
            a(href="").white.btn.btn-blue-border.uppercase.bold.arrow Start Trial


  .padding-none.bg-gray.border-bottom-gray          
    .row.padding-less.text-center
      h5.uppercase.gray-dark Trusted By
      mixin logos(name, width, height)
        .home-logo.h2.opacity.unselectable(style="background-image: url('/images/color_logos/#{name}.png'); width: #{width}em; height: #{height}em; margin-right: 1.5em")
      +logos("amagi_metals", 2.5, 2.5)
      +logos("gyft", 2, 2.5)
      +logos("microsoft", 3.5, 2.5)
      +logos("newegg", 2.5, 2.5)
      +logos("tigerdirect", 3.5, 2.5)
      +logos("virgin", 1.5, 2.5)



  .section.border-bottom-gray.bg-white
      .row
        h2.text-center.header__bottom-border Bank settlement to 33 countries
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
  
  .section.border-bottom-gray.bg-white
      .row
        h2.text-center.header__bottom-border Industry-leading engineering services
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 

  .section.bg-white
      .row
        h2.text-center.header__bottom-border #1 Bitcoin client success team
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        
        
  .section.bg-lightblue-gradient.border-top-gray
    .row
      .column.medium-8.medium-offset-2
        h2.text-center.white Enterprise Ready
        h4.text-center.white Get access to the most powerful Bitcoin infrastructure on the planet.
    .row
      .column.medium-8.medium-offset-2.text-center
        a(href="#").white.btn.btn-blue-solid.uppercase.bold Request Demo
        a(href="/features").white.btn.btn-blue-border.uppercase.bold.arrow Start Trial
