extends _layouts/primary

block title
  title Enterprise | BitPay

append vars
  -var tourSelected = 'Enterprise'

block content
  include _includes/tour-nav
  .section.background-cover(style="background-image: url('/images/star_background.jpg')")
    .row
      .column.large-10.large-offset-1.text-center.text-shadow
        h1.white Set a New Standard for Payments
        h4.white.subheader.medium-8.medium-offset-2 Expand your enterprise globally. Take the world's first truly secure transnational payment method with you.
        .row
          .margin-top-less
            .column.medium-4.medium-offset-4.text-center.end
              a(href="mailto:sales@bitpay.com").white.btn.btn-blue-solid.uppercase.bold Contact Sales
  
  .section.border-bottom-gray.bg-gray
      .row
        .column.medium-8.medium-offset-2.text-center
          h2.text-center.header__bottom-border Build With the Best
          p.lead Leverage our merchant engineering team to create the tools you need to integrate bitcoin seamlessly. 

  .section.border-bottom-gray
      .row
        .column.medium-8.medium-offset-2.text-center
          h2.text-center.header__bottom-border Launch Confidently
          p.lead Work with account managers dedicated to making your bitcoin integration a success. Our support team will provide the monitoring and direct assistance needed to keep things running smoothly.
  
  .section.border-bottom-gray.bg-gray
      .row
        .column.medium-8.medium-offset-2.text-center
          h2.header__bottom-border Scale Globally
          p.lead Take full advantage of the first truly borderless payment network in history with priority access to the most powerful bitcoin infrastructure on earth.  
