extends _layouts/primary

block title
  title Enterprise | BitPay

append vars
  -var tourSelected = 'Enterprise'
  -var pageSelected = 'Tour'

block content
  include _includes/tour-nav
  .section.background-cover(style="background-image: url('/images/star_background.jpg')")
    .row
      .column.large-10.large-offset-1.text-center
        h1.white.text-shadow.fade-in-up Bitcoin, enterprise-ready.
        h4.white.subheader.medium-8.medium-offset-2.text-shadow.fade-in-up.delay-1 Get access to the most powerful Bitcoin infrastructure on the planet.
        .row.fade-in-up.delay-1
          .column.medium-8.medium-offset-2.text-center
            a(href="mailto:sales@bitpay.com").white.btn.btn-blue-solid.uppercase.bold.btn-margin Request Demo
            a(href="#").white.btn.btn-blue-border.uppercase.bold.arrow.btn-margin Start Trial


  .padding-vertical.bg-gray.border-bottom-gray          
    .row.padding-less.text-center
      h5.uppercase.gray-dark Trusted By
      mixin logos(name, width, height)
        .home-logo.h2.opacity.unselectable(style="background-image: url('/images/color_logos/#{name}.png'); width: #{width}em; height: #{height}em; margin-right: 1.5em")
      +logos("amagi_metals", 2.5, 2.5)
      +logos("gyft", 2, 2.5)
      +logos("microsoft", 3.5, 2.5)
      +logos("newegg", 2.5, 2.5)
      +logos("tigerdirect", 3.5, 2.5)
      +logos("virgin", 1.5, 2.5)

  .section.border-bottom-gray.bg-white
      .row
        .column.large-5.margin-bottom-less
          h3.header__bottom-border-left #1 Bitcoin client success team
          p.lead Work with account managers dedicated to making your bitcoin integration a success.
          p We'll provide the monitoring and direct assistance needed to keep things running smoothly.         
        .column.large-7
          .row
            .column.medium-2
              .quote-anim.medium-float-right.margin-bottom-less
            .column.medium-10
              p.lead.quote.fade-in-up.delay-1 BitPay has consistently impressed us with its service and engineering. We are excited to see where bitcoin is headed, and we are confident that we are working with the best company to carry this technology forward at Microsoft.
              .fade-in-up.delay-2
                p.margin-bottom-none.uppercase.bold  &mdash; Sam Anson
                p.margin-bottom-none Senior Business Ops Project Manager,
                p.margin-bottom-none Universal Store Business Operations
                .h2.background-contain.unselectable(style="background-image: url('/images/color_logos/microsoft.png'); width: 3.5em; height: 1em;)")

  .section.border-bottom-gray.bg-white
      .row
        .column.large-6
        .column.large-6
          h3.header__bottom-border-left Bank settlements to 38 countries
          p.lead Receive direct bank deposits in 38 countries with nine supported settlement currencies.
          p We're constantly growing our financial network to support global reach for global enterprises.
          p
            a(href="/docs/settlement").arrow-blue Settlement details

  .section.bg-white
      .row
        .column.large-5.margin-bottom-less
          h3.header__bottom-border-left Industry-leading engineering services
          p.lead Leverage our merchant engineering team to create the tools you need to seamlessly  integrate bitcoin payments.
          p We'll continue to prioritize the platform features you need after launch. 
        .column.large-7
          .row
            .column.medium-2
              .quote-anim.medium-float-right.margin-bottom-less
            .column.medium-10
              p.lead.quote.fade-in-up.delay-1 BitPay has been an instrumental partner, helping NETELLER to tap into the Bitcoin market in a secure and convenient way. They have been extremely responsive from day 1, accommodating our business needs every step of the way.
              .fade-in-up.delay-2
                p.margin-bottom-none.uppercase.bold  &mdash; Clovis Cuqui
                p.margin-bottom-none Vice-President, Product
                .h2.background-contain.unselectable(style="background-image: url('/images/color_logos/neteller.svg'); width: 3.5em; height: 1em;)")

        
  .section.bg-lightblue-gradient.border-top-gray
    .row
      .column.medium-8.medium-offset-2
        h2.text-center.white Enterprise Ready
        h4.text-center.white Get access to the world's most powerful Bitcoin infrastructure.
    .row
      .column.medium-8.medium-offset-2.text-center
        a(href="mailto:sales@bitpay.com").white.btn.btn-blue-solid.uppercase.bold.btn-margin Request Demo
        a(href="#").white.btn.btn-blue-border.uppercase.bold.arrow.btn-margin Start Trial
