extends _layouts/primary
block title
  title Features | BitPay

append vars
  -var tourSelected = 'Features'
  -var pageSelected = 'Tour'
  
block content
  include _includes/tour-nav
  .section.bg-gray.border-bottom-gray
    .feature-diagram-container
      img(src="/images/features_diagram.svg" width="100%")
  
  .section.border-bottom-gray
    .row
      h2.text-center.header__bottom-border Platform

    .row.margin-bottom-more
      .column.medium-12.large-4
        h4 Direct Bank Deposit
        p Receive settlement directly to your bank account in 33 countries
      .column.medium-12.large-4
        h4 Cryptographically Secure API
        p Integrate our platform for bitcoin payments with secure and simple API.
      .column.medium-12.large-4
        h4 Custom Transaction Speed Setting Options
        p Choose from a range of options for your security and confirmation speed preferences

    .row.margin-bottom-more
      .column.medium-12.large-4
        h4 Best Bid Exchange Rates
        p Invoice pricing relies on optimal bitcoin to local currency conversion rates, calculated across exchanges
      .column.medium-12.large-4
        h4 Two-Factor Authentication
        p Secure your merchant account with two-factor authentication capability from Google Authenticator.
      .column.medium-12.large-4
        h4 11 Open Source Libraries and SDKs for Custom Integration
        p Use publicly auditable and versatile code for your custom integrations with the BitPay API.
        a(href-"#") See our full list of libraries and SDKs >

    .row.margin-bottom-more
      .column.medium-12.large-4
        h4 National Currency Settlement 
        p Receive 100% of the value of every transaction in any of eight national currencies or bitcoin, or opt for a mix.
      .column.medium-12.large-4
        h4 Invoicing in 40 Languages 
        p Accommodate global customers with invoices in all major languages.
      .column.medium-12.large-4
        h4 Pricing in 150 Currencies
        p Calculate prices displayed on BitPay invoices in any of 150 currencies. 

    .row.margin-bottom-more
      .column.medium-12.large-4
        h4 Cross-Standard Bitcoin Wallet Compatibility
        p Our invoices work with all Bitcoin-standard wallets – no accounts necessary. 
      .column.medium-12.large-4
        h4 URI and QR Code Invoices
        p Provide your customers click-to-pay and scan-to-pay options to in every invoice. 
      .column.medium-12.large-4
        h4 Mobile Optimization
        p Access your merchant dashboard tools easily and effectively on mobile web browsers. 

    .row.margin-bottom-more
      .column.medium-12.large-4
        h4 Payment Protocol Implementation
        p Our invoices support payment protocol (BIP 70 and BIP 73), which adds the security of direct payment communication and the convenience of clear payment address identification. 
      .column.medium-12.large-4
        h4 Email, Mobile, and Server Payment Notifications
        p Stay up-to-date with your transactions via email, text, and server IPNs. 
      .column.medium-12.large-4
        h4 Ledger Payment Tracking
          p Track and export transaction data for all bitcoin payments received.

  .section.border-bottom-gray
    .row.margin-bottom-more
      h2.text-center.header__bottom-border E-Commerce
    .row.margin-bottom-more
      .column.medium-12.large-4
        h4 Payment Buttons and Hosted Checkout
        p Add a bitcoin payment option to your website - just copy and paste a few lines of script. 
      .column.medium-12.large-4
        h4 Shopping Cart Plugins  
        p Use one of our popular ecommerce plug-ins to seamlessly enable bitcoin payments on your website.
      .column.medium-12.large-4
        h4 Hosted Integrations
        p Activate bitcoin payments through your ecommerce platform provider.
    .row.margin-bottom-more
      .column.medium-12.large-4
        h4 Custom Checkout Forms and Browser Redirect URLs
        p Direct your customers through the checkout experience and return traffic to your website after payment. 
      .column.medium-12.large-4
        h4 Embeddable Invoices
        p Display an invoice directly on your website and let customers pay without leaving the page. 
      .column.medium-4

  .section.border-bottom-gray
    .row.margin-bottom-more
      h2.text-center.header__bottom-border Billing
    .row.margin-bottom-more
      .column.medium-12.large-4
        h4 Email Invoicing
        p Bill clients electronically and receive rapid payment. No paper required, no fees or wait times. 
      .column.medium-12.large-4
        h4 Scheduled Billing
        p Invoice on a one-time, weekly, monthly, quarterly, or yearly basis.
      .column.medium-12.large-4
        h4 Integrated Solutions 
        p Expand your bitcoin billing options using our integrations with leading billing service providers.
    .row.margin-bottom-more
      .column.medium-12.large-4
        h4 Billing Plugins
          p Add a bitcoin payment option to the bills you send to customers and clients.

  .section.border-bottom-gray
    .row.margin-bottom-more
      h2.text-center.header__bottom-border Retail
      .row.margin-bottom-more
        .column.medium-12.large-4
          h4 Mobile Point of Sale App
          p Accept bitcoin on phones or tablets with Bitcoin Checkout for iOS and Android.
        .column.medium-12.large-4
          h4 Multiple User Capability
          p  Add multiple users to Bitcoin Checkout or enable your  cashiers and servers to accept bitcoin to your account on their own phones.
        .column.medium-12.large-4
          h4 Web-Based Checkout
          p No app, no problem. Access responsive retail invoices via the web browser on laptops, phones, and desktops. 
      .row.margin-bottom-more
        .column.medium-12.large-4
          h4 Gratuity Options
          p Let customers select from set tip percentages or choose their own custom tip amounts. 
        .column.medium-12.large-4.end
          h4 Direct POS Integrations
            p Accept bitcoin natively in your point of sale software. 
            
  .section.border-bottom-gray
      .row.margin-bottom-more
        h2.text-center.header__bottom-border Donations
      .row.margin-bottom-more
        .column.medium-12.large-4
          h4 Web-Based Donation Buttons
          p Receive bitcoin contributions with a direct, easily-implemented donation button.
        .column.medium-12.large-4
          h4 Hosted Bitcoin Donation Pages
          p Let us host a bitcoin donation page for you on our site for no additional cost. 
        .column.medium-12.large-4
          h4 Custom Donor Forms
          p Customize how you collect supporter information in your donation forms.
      .row.margin-bottom-more
        .column.medium-12.large-4
          h4 Donation Platform
          p Accept bitcoin donations through our integrations with external fundraising platforms
          
  .section.border-bottom-gray
    .row.margin-bottom-more
      h2.text-center.header__bottom-border Support
    .row.margin-bottom-more
      .column.medium-12.large-4
        h4 Email and Phone Availability
        p All merchants have access to our industry-leading support team via email. Phone support is available on our business and enterprise plans.
      .column.medium-12.large-4
        h4 Free Refunding
        p Our team will issue bitcoin refunds on your behalf, free of charge. 
      .column.medium-12.large-4
        h4 FAQs and Support Guides
        p Access our knowledge on the most popular merchant questions and integration mistakes.
    .row.margin-bottom-more
      .column.medium-12.large-4
        h4 Dedicated Account Management
        p Keep things running smoothly with a team member dedicated to supporting and support of a team membe
      .column.medium-12.large-4.end
        h4 Forums for Product Feedback
        p Propose improvements, give product feedback, and ask questions about our platform on our BitPay Labs forum.

  .section.border-top-gray
    .row
      h3.text-center Get access to the BitPay platform.
      .margin-top-less
        .column.medium-8.medium-offset-2.text-center
          a(href="/enterprise").btn.btn-blue-border.uppercase.bold Enterprise Features
          a(href="#").white.btn.btn-blue-solid.uppercase.bold.arrow Sign Up
