extends _layouts/primary
block title
  title Features | BitPay

append vars
  -var tourSelected = 'Features'
  -var pageSelected = 'Tour'

block content
  include _includes/tour-nav
  .section.bg-gray-gradient.border-bottom-gray
    .row
      .feature-container
        .h1.background-contain.feature-image(style="background-image: url('/images/features_diagram.svg');")
        .feature-icon.feature-1.fade-in
          span.small-icon.background-contain.h5.margin-vertical-none.text-center(style="background-image: url('/images/icons/platform.svg'); margin-left: 11px;")
          <br />
          span.feature-label.blue-light <a href="#platform">Platform</a>
        .feature-icon.feature-2.fade-in.delay-1
          span.small-icon.background-contain.h5.margin-vertical-none(style="background-image: url('/images/icons/e-commerce.svg');")
          span.feature-label.blue-light <a href="#ecommerce">E-Commerce</a>
        .feature-icon.feature-3.fade-in.delay-2
          span.small-icon.background-contain.h5.margin-vertical-none(style="background-image: url('/images/icons/billing.svg'); top: 4px;")
          span.feature-label.blue-light <a href="#billing">Billing</a>
        .feature-icon.feature-4.fade-in.delay-3
          span.small-icon.background-contain.h5.margin-vertical-none(style="background-image: url('/images/icons/retail.svg'); margin-left: 3px;")
          <br />
          span.feature-label.blue-light <a href="#retail">Retail</a>
        .feature-icon.feature-5.fade-in.delay-4
          span.feature-label.blue-light <a href="#donations">Donations</a>
          span.small-icon.background-contain.h5.margin-vertical-none(style="background-image: url('/images/icons/donations.svg');")
        .feature-icon.feature-6.fade-in.delay-5
          span.feature-label.blue-light <a href="#support">Support</a>
          span.small-icon.background-contain.h5.margin-vertical-none(style="background-image: url('/images/icons/support.svg'); top: 4px;")

  .section.border-bottom-gray
    .row
      h2.text-center.header__bottom-border#platform Platform
    mixin feature(heading, description)
      .column.large-4
        h4 #{heading} 
        p #{description}
      
    .row.margin-bottom-more
      +feature("Direct Bank Deposit", "Receive settlement directly to your bank account in 33 countries.")
      +feature("Cryptographically Secure API", "Integrate our platform for bitcoin payments with secure and simple API.") 
      +feature("Custom Transaction Speed Setting Options", "Choose from a range of options for your security and confirmation speed preferences.")
              
    .row.margin-bottom-more
      +feature("Best Bid Exchange Rates", "Invoice pricing relies on optimal bitcoin to local currency conversion rates, calculated across exchanges") 
      +feature("Two-Factor Authentication", "Secure your merchant account with two-factor authentication capability from Google Authenticator.") 
      +feature("11 Open Source Libraries and SDKs for Custom Integration", "Use publicly auditable and versatile code for your custom integrations with the BitPay API.") 
        a(href="/integrations").arrow-blue See our full list of libraries and SDKs

    .row.margin-bottom-more
      +feature("National Currency Settlement", "Receive 100% of the value of every transaction in any of eight national currencies or bitcoin, or opt for a mix.") 
      +feature("Invoicing in 40 Languages", "Accommodate global customers with invoices in all major languages.") 
      +feature("Pricing in 150 Currencies", "Calculate prices displayed on BitPay invoices in any of 150 currencies.")
      
    .row.margin-bottom-more
      +feature("Cross-Standard Bitcoin Wallet Compatibility", "Our invoices work with all Bitcoin-standard wallets – no accounts necessary.") 
      +feature("URI and QR Code Invoices", "Provide your customers click-to-pay and scan-to-pay options to in every invoice.") 
      +feature("Mobile Optimization", "Access your merchant dashboard tools easily and effectively on mobile web browsers.") 
        
    .row.margin-bottom-more
      +feature("Payment Protocol Implementation", "Our invoices support payment protocol (BIP 70 and BIP 73), which adds the security of direct payment communication and the convenience of clear payment address identification.")
      +feature("Email, Mobile, and Server Payment Notifications", "Stay up-to-date with your transactions via email, text, and server IPNs.")
      +feature("Ledger Payment Tracking", "Track and export transaction data for all bitcoin payments received.") 
        
  .section.border-bottom-gray
    .row.margin-bottom-more
      h2.text-center.header__bottom-border#ecommerce E-Commerce
    
    .row.margin-bottom-more
      +feature("Payment Buttons and Hosted Checkout", "Add a bitcoin payment option to your website - just copy and paste a few lines of script.") 
      +feature("Shopping Cart Plugins", "Use one of our popular ecommerce plug-ins to seamlessly enable bitcoin payments on your website.") 
      +feature("Hosted Integrations", "Activate bitcoin payments through your ecommerce platform provider.") 
        
    .row.margin-bottom-more
        +feature("Custom Checkout Forms and Browser Redirect URLs", "Direct your customers through the checkout experience and return traffic to your website after payment.") 
        +feature("Embeddable Invoices", "Display an invoice directly on your website and let customers pay without leaving the page.")
        
  .section.border-bottom-gray
    .row.margin-bottom-more
      h2.text-center.header__bottom-border#billing Billing
    
    .row.margin-bottom-more
      +feature("Email Invoicing", "Bill clients electronically and receive rapid payment. No paper required, no fees or wait times.")
      +feature("Scheduled Billing", "Invoice on a one-time, weekly, monthly, quarterly, or yearly basis.")
      +feature("Integrated Solutions", "Expand your bitcoin billing options using our integrations with leading billing service providers.") 
        
    .row.margin-bottom-more
      +feature("Billing Plugins", "Add a bitcoin payment option to the bills you send to customers and clients.") 
        
  .section.border-bottom-gray
    .row.margin-bottom-more
      h2.text-center.header__bottom-border#retail Retail
    
    .row.margin-bottom-more
      +feature("Mobile Point of Sale App", "Accept bitcoin on phones or tablets with Bitcoin Checkout for iOS and Android.")
      +feature("Multiple User Capability", "Add multiple users to Bitcoin Checkout or enable your cashiers and servers to accept bitcoin to your account on their own phones.")
      +feature("Web-Based Checkout", "No app, no problem. Access responsive retail invoices via the web browser on laptops, phones, and desktops.") 
        
    .row.margin-bottom-more
      +feature("Gratuity Options", "Let customers select from set tip percentages or choose their own custom tip amounts.") 
      +feature("Direct POS Integrations", "Accept bitcoin natively in your point of sale software.")         

  .section.border-bottom-gray
      .row.margin-bottom-more
        h2.text-center.header__bottom-border#donations Donations
      
      .row.margin-bottom-more
        +feature("Web-Based Donation Buttons", "Receive bitcoin contributions with a direct, easily-implemented donation button.")
        +feature("Hosted Bitcoin Donation Pages", "Let us host a bitcoin donation page for you on our site for no additional cost.")
        +feature("Custom Donor Forms", "Customize how you collect supporter information in your donation forms.") 
        
      .row.margin-bottom-more
        +feature("Donation Platform", "Accept bitcoin donations through our integrations with external fundraising platforms.") 
        

  .section.border-bottom-gray
    .row.margin-bottom-more
      h2.text-center.header__bottom-border#support Support
    
    .row.margin-bottom-more
      +feature("Email and Phone Availability", "All merchants have access to our industry-leading support team via email. Phone support is available on our")
      +feature("Free Refunding", "Our team will issue bitcoin refunds on your behalf, free of charge.")
      +feature("FAQs and Support Guides", "Access our knowledge on the most popular merchant questions and integration mistakes.")
        
    .row.margin-bottom-more
      +feature("Dedicated Account Management", "Keep things running smoothly with a team member dedicated to supporting your daily account operations.")
      +feature("Forums for Product Feedback", "Propose improvements, give product feedback, and ask questions about our platform on our BitPay Labs forum.") 
        

  .section.bg-lightblue-gradient
    .row
      .column.large-10.large-offset-1.text-center
        h3.white.text-center Get access to the BitPay platform.
        .margin-top-less
          a(href="/dashboard/signup").white.btn.btn-blue-solid.uppercase.bold.btn-margin Accept Bitcoin
          a(href="/enterprise").white.arrow.btn.btn-blue-border.uppercase.bold.btn-margin Enterprise Features
