extends _layouts/primary

block title
  title Accept Bitcoin | BitPay

block vars
  -var bodyClass = 'landing';
block content
  .row.section
    .column.medium-12
      h1.text-center.white Bitcoin payments, deposited to your bank account.
      p.h4.text-center.white Offer your customers the world’s fastest and safest payment option, we'll handle the bitcoin.
      .cta-btns
        a(href="/tour").btn.btn-secondary Start Tour
        a(href="#").btn.btn-primary Accept Bitcoin
      
  .row.section
    .column.medium-12
      h5.uppercase.text-center.white trusted by over 60,000 merchants
    .column.medium-6
      img(src="../images/logos1.png", alt="").home-logos
    .column.medium-6
      img(src="../images/logos2.png", alt="").home-logos
      
