extends _layouts/primary

block title
  title Accept Bitcoin | BitPay

block body
  h1.h1 Bitcoin payments, deposited to your bank account.
  p.lead Offer your customers the world’s fastest and safest payment option, we'll handle the bitcoin.
    
  include _includes/languages
