extends _layouts/primary

block title
  title Accept Bitcoin | BitPay

block body
  .row
    .column.medium-12
      h1.text-center Bitcoin payments, deposited to your bank account.
      h3.text-center Offer your customers the world’s fastest and safest payment option, we'll handle the bitcoin.
