extends _layouts/primary

block title
  title Accept Bitcoin | BitPay

block vars
  -var bodyClass = 'landing';
block content
  .row
    .column.medium-12
      h1.text-center.white Bitcoin payments, deposited to your bank account.
      p.h4.text-center.white Offer your customers the world’s fastest and safest payment option, we'll handle the bitcoin.
