extends _layouts/primary

block title
  title Accept Bitcoin | BitPay

block vars
  -var bodyClass = 'landing bg-blue';
block content
  .row.hero
    .column.medium-12
      .map-box
        img(src="/images/geometric_map.svg", alt="").home-map
        - var n = 0
        while n < 16
          div(class="pulse pulse"+ ++n)
            .pulse-center
      .cta-content
        .bitcoin-logo.background-contain.margin-top-bottom-small(style="background-image: url('/images/bitcoin.svg');")
        h1.text-center.white.text-shadow Bitcoin payments, deposited to your bank account
        p.h4.subheader.text-center.white Offer your customers the world’s fastest and safest payment option, we'll handle the bitcoin.
        .row
          .cta-btns
            .column.medium-4.medium-offset-2.text-center
              a(href="/tour").white.btn.btn-blue-border.uppercase.bold.right-medium-up Start Tour
            .column.medium-4.text-center.end
              a(href="#").white.btn.btn-blue-solid.uppercase.bold.left-medium-up Accept Bitcoin
      
  .section
    .row.trusted-by
      .column.medium-12
        h5.uppercase.text-center.white.margin-bottom-medium trusted by over 60,000 merchants
      .column.medium-6
        .home-logos.background-contain(style="background-image: url('/images/logos1.png');")
      .column.medium-6
        .home-logos.background-contain(style="background-image: url('/images/logos2.png');")
      
