extends _layouts/primary

block title
  title Accept Bitcoin | BitPay

block vars
  -var bodyClass = 'landing bg-blue';
block content
  .row.hero
    .column.medium-12
      .map-box
        img(src="/images/geometric_map.svg", alt="").home-map
        - var n = 0
        while n < 16
          div(class="pulse pulse"+ ++n)
            .pulse-center
      .cta-content
        img(src="/images/bitcoin.svg", alt="").bitcoin-logo
        h1.text-center.white.text-shadow Bitcoin payments, deposited to your bank account
        p.h4.subheader.text-center.white Offer your customers the world’s fastest and safest payment option, we'll handle the bitcoin.
        .cta-btns
          a(href="/tour").white.btn.btn-blue-border Start Tour
          a(href="#").white.btn.btn-blue-solid Accept Bitcoin
      
  .section
    .row.trusted-by
      .column.medium-12
        h5.uppercase.text-center.white trusted by over 60,000 merchants
      .column.medium-6
        img(src="../images/logos1.png", alt="").home-logos
      .column.medium-6
        img(src="../images/logos2.png", alt="").home-logos
      
