extends _layouts/primary

block title
  title Integrations | BitPay

block content
  .section.bg-gray.border-top-gray
    .row
      .column.medium-10.medium-offset-1
        h2.text-center.margin-bottom-less Accept Bitcoin Wherever You Take Payments
        p.lead.text-center.margin-bottom Over 40 integrations and counting. Find yours.
      .column.medium-8.medium-offset-2.end
        form
          input.integration-search(placeholder="Search our integrations..." type="search" value="" name="search")
          span.search-icon.background-contain(style="background-image: url('/images/search.svg');")
            
  .section.border-top-gray
    .row
      .column.medium-4
        h3.header__bottom-border-left Integrated Solutions
        p.lead These integrated solutions work out of the box, no development required. Simple connect your BitPay account and begin accepting bitcoin payments.

  .section.border-top-gray
    .row
      .column.medium-4
        h3.header__bottom-border-left Open Source Plugins
        p.lead BitPay develops and maintains plugins for many of the world’s most popular eCommerce solutions.

  .section.border-top-gray
    .row
      .column.medium-4
        h3.header__bottom-border-left Point of Sale
        p.lead BitPay integrates directly into the world’s most popular retail Point-of-Sale solutions.

  .section.border-top-gray
    .row
      .column.medium-4
        h3.header__bottom-border-left Billing &amp; Accounting
        p.lead Offer your customers bitcoin as a payment option in your billing &amp; accounting solutions.

  .section.border-top-gray
    .row
      .column.medium-4
        h3.header__bottom-border-left Donations
        p.lead Tap into the emerging bitcoin donor base by enabling bitcoin donations in one of these solutions.
