extends _layouts/primary

block title
  title Open Source | BitPay
      
block content

  .bg-subtle-white-gradient.padding-vertical-less
    .row
      .column.large-10.large-offset-1.text-center
        img.h1(src="/images/github-dark.svg" style="width: 1.5em; height 1.5em").fade-in-up
        h2.text-center.fade-in-up We love open source software
        p.lead.text-center.margin-bottom.fade-in-up Even this website is forkable

  .padding-vertical-none.bg-gray-dark-gradient.border-bottom-gray          
    .row.padding-less.text-center.white
      .column.large-3
        p.h1.white 14131
        p.uppercase.opacity-less Number of Commits
      .column.large-3
        p.h1.white 32
        p.uppercase.opacity-less Number of Projects
      .column.large-3
        p.h1.white 12
        p.uppercase.opacity-less Active Contributors
      .column.large-3
        p.h1.white 131
        p.uppercase.opacity-less Open Pull Requests

  .section.border-bottom-gray          
    .row
      .column.large-6
        img.h1(src="/images/copay-dark.svg" style="width: 4.5em; height 1.5em")
        p 244 stars and 116 forks
        p Copay is an easy-to-use, open-source, multiplatform, multisignature, secure bitcoin wallet platform for both individuals and companies.
      .column.large-6
        img.h1(src="/images/bitcore-dark.svg" style="width: 5em; height 2em")
        p 244 stars and 116 forks
        p Bitcoin is a powerful new peer-to-peer platform for the next generation of financial technology. The decentralized nature of the Bitcoin network allows for highly.
    .row
      .column.large-6
        p.h4 Toro
        p 244 stars and 116 forks
        p Copay is an easy-to-use, open-source, multiplatform, multisignature, secure bitcoin wallet platform for both individuals and companies.
      .column.large-6
        p.h4 BitAuth
        p 244 stars and 116 forks
        p Bitcoin is a powerful new peer-to-peer platform for the next generation of financial technology. The decentralized nature of the Bitcoin network allows for highly.
    .row
      .column.large-6
        p.h4 Insight
        p 244 stars and 116 forks
        p Copay is an easy-to-use, open-source, multiplatform, multisignature, secure bitcoin wallet platform for both individuals and companies.
      .column.large-6
        p.h4 Foxtrot
        p 244 stars and 116 forks
        p Bitcoin is a powerful new peer-to-peer platform for the next generation of financial technology. The decentralized nature of the Bitcoin network allows for highly.


  .section.border-bottom-gray          
    .row
      .column.large-8.large-centered
        h2.text-center.header__bottom-border Platform
        p.text-center.margin-bottom-more We are invested in bitcoins success. We support payment protocol, ensure secure bitcoin payments, and advocate community driven software development to ensure things are secure.
    .row
      .column
        .h1.background-contain(style="background-image: url('/images/p2p.svg'); height:10em;")

  .section
    .row
      .column.large-10.large-centered
        h2.text-center.header__bottom-border We write BIPS
        p.text-center.margin-bottom-more BIPs are proposals to improve the bitcoin protocol itself - we foster and encourage contributions to the bitcoin protocol itself. Here are a few we have written.
    .row
      .column.large-4
        h5 Name of the BIP
        p.small.uppercase BIP 0073
        p A standard spec for requesting and recurring signal payent request from an HTTP server.
      .column.large-4
        h5 Name of the BIP
        p.small.uppercase BIP 0073
        p A standard spec for requesting and recurring signal payent request from an HTTP server.
      .column.large-4
        h5 Name of the BIP
        p.small.uppercase BIP 0073
        p A standard spec for requesting and recurring signal payent request from an HTTP server.

  .section.bg-lightblue-gradient.border-top-gray
    .row
      .column.medium-8.medium-offset-2
        h2.text-center.white Start building with bitcoin 
    .row
      .column.medium-8.medium-offset-2.text-center
        a(href="#").white.btn.btn-blue-solid.uppercase.bold.btn-margin Accept Bitcoin
        a(href="/tour").white.btn.btn-blue-border.uppercase.bold.arrow.btn-margin Start Tour
