extends _layouts/primary

block title
  title Pricing | BitPay
  
append vars  
  -var pageSelected = 'Pricing'

block content
  .section.bg-gray.border-bottom-gray.border-top-gray
    .row.fade-in
      .column.text-center.margin-bottom
        h2.text-center A free plan with unlimited processing, forever.
        p.lead.text-center Simple pricing plans for additional business and enterprise features.
    .row.margin-top-less
      .column.medium-8.medium-offset-2.large-4.large-offset-0.bg-white.border-gray.text-center.margin-bottom.fade-in-right.delay-2
        .icon.h2.background-contain.margin-less(style="background-image: url('/images/basic_icon.svg'); height: 2.5em;")
        h3.text-center.light Basic
        p.text-center Free
        .row
          p.border-top-gray.padding-vertical-less.margin-none.bold Unlimited Processing Volume
          p.border-top-gray.padding-vertical-less.margin-none.bold Free, Instant Conversion
          p.border-top-gray.padding-vertical-less.margin-none.bold Daily Bank Deposit
          p.border-top-gray.padding-vertical-less.margin-none.bold Retail POS Solutions
          p.border-top-gray.padding-vertical-less.margin-none.bold Over 40 Integrations
          p.border-top-gray.padding-vertical-less.margin-none.bold Email Support
      .column.medium-8.medium-offset-2.large-4.large-offset-0.bg-white.border-gray.text-center.margin-bottom.fade-in-right.delay-4
        .icon.h2.background-contain.margin-less(style="background-image: url('/images/business_icon.svg'); height: 2.5em;")
        h3.light Business
        p.text-center $300 / 30 Days
        .row
          p.border-top-gray.padding-vertical-less.margin-none.bold Unlimited Processing Volume
          p.border-top-gray.padding-vertical-less.margin-none.bold Free, Instant Conversion
          p.border-top-gray.padding-vertical-less.margin-none.bold Daily Bank Deposit
          p.border-top-gray.padding-vertical-less.margin-none.bold Retail POS Solutions
          p.border-top-gray.padding-vertical-less.margin-none.bold Over 40 Integrations 
          p.border-top-gray.padding-vertical-less.margin-none.bold Email Support
          p.border-top-gray.padding-vertical-less.margin-none Phone Support
          p.border-top-gray.padding-vertical-less.margin-none Quickbooks Sales Integration
      .column.medium-8.medium-offset-2.large-4.large-offset-0.bg-white.border-gray.text-center.end.fade-in-right.delay-6
        .icon.h2.background-contain.margin-less(style="background-image: url('/images/enterprise_icon.svg'); height: 2.5em;")
        h3.light Enterprise
        p.text-center 
          a(href="mailto:sales@bitpay.com") Request Info
        .row
          p.border-top-gray.padding-vertical-less.margin-none.bold Unlimited Processing Volume
          p.border-top-gray.padding-vertical-less.margin-none.bold Free, Instant Conversion
          p.border-top-gray.padding-vertical-less.margin-none.bold Daily Bank Deposit
          p.border-top-gray.padding-vertical-less.margin-none.bold Retail POS Solutions
          p.border-top-gray.padding-vertical-less.margin-none.bold Over 40 Integrations
          p.border-top-gray.padding-vertical-less.margin-none.bold Email Support
          p.border-top-gray.padding-vertical-less.margin-none Phone Support
          p.border-top-gray.padding-vertical-less.margin-none Quickbooks Sales Integration
          p.border-top-gray.padding-vertical-less.margin-none VPN Access
          p.border-top-gray.padding-vertical-less.margin-none Dedicated Account Manager
          p.border-top-gray.padding-vertical-less.margin-none Engineering &amp; Integration Services

  .section
    .row
      .column
        h2.text-center.header__bottom-border Frequently Asked Questions
      .column.medium-10.medium-offset-1.large-5.large-offset-1
        .margin-bottom
          h5 What exchange rate do my customers get?
          p BitPay always offers the best exchange rate on the market. We pool the order books of all active bitcoin exchanges, and find the best bid worldwide. We call this the <a href="/bitcoin-exchange-rates">Bitcoin Best Bid (BBB) rate</a>, and it is our only rate.
        div
          h5 Can I get part of my settlement in bitcoin?
          p Many of our merchants choose to take a percentage &mdash; or even 100% &mdash; of their BitPay settlement in bitcoin. You can choose your settlement preferences from your account dashboard. We settle bitcoin to your bitcoin address daily.
      .column.medium-10.medium-offset-1.large-5.large-offset-0.end
        .margin-bottom
          h5 Do you charge a conversion fee?
          p All of our monthly plans include free and instant conversion to your settlement currency&mdash; with zero fees.
        div
          h5 Can you process payments for regulated businesses?
          p We are able to process payments for most businesses, but legal and regulatory issues prevent us from servicing <a href="/legal#prohibited">some industries</a>. We'd like to provide all legitimate businesses the opportunity to accept bitcoin, and we are constantly working to make that a possibility.
      .column.medium-10.medium-offset-1.large-5.large-offset-1
      .column.medium-10.medium-offset-1.large-5.large-offset-0.end

  .section.bg-lightblue-gradient.border-top-gray
    .row
      .column.large-10.large-offset-1.text-center
          h3.white Get access to the BitPay platform.
          .margin-top-less
            a(href="/dashboard/signup").white.btn.btn-blue-solid.uppercase.bold.btn-margin.arrow Accept Bitcoin
