extends _layouts/primary

block title
  title Tour | BitPay

block content
<<<<<<< HEAD
  .section
    .row
      h1.text-center.header__bottom-border Why Bitcoin?
      .column.medium-8.medium-offset-2
        .reason
          h4.center-text-small Eliminate Processing Fees
          p Receive 100% of what you charge for every transaction, with free, unlimited conversion to your own currency and settlement to your bank account.
        .reason
          h4.center-text-small Sell to Anyone, Anywhere
          p Connect to the world’s first borderless payment network - Bitcoin. Accept payment in any amount, from anywhere in the world, from anyone with computer or mobile device.
        .reason
          h4.center-text-small End Chargeback and Identity Theft
          p Protect your customers and your business from the risks and costs of payment fraud with a oayment method made for online commerce.
          
  .section.section__gray
    .row
=======
  .row
    .column.medium-12
      h1.text-center Tour
>>>>>>> master
